[2018-09-10 12:35] lordfuoco commented on #218
@plicplic Did you defined self at the beginning of onEachFeature function? if so please change
` onEachFeature: function onEachFeature(feature, layer) {`
to:
` onEachFeature: (feature, layer)  => {

So that the scope of this is tied to the vue instance

[2018-09-10 13:05] hpo14 commented on #216
@lordfuoco thank you
I'll try your method later i get home. And make response for the result.

https://github.com/schlunsen/nuxt-leaflet
I also found this github and follow steps, and result is a page of blank (?)
If look from the Chrome DevTools, it actual generate the map (look like it DO really generate it)
But from Devtool''s [Network Tab], my page doesnt send any req to tile.osm.org, that's w

[2018-09-10 13:39] plicplic commented on #218
Now it's perfectly working. I added a second _layer.on_ function to take care of the click (this is where I use _self.popupName_, now. It is linked to a _watch_, which listen to a change (the click) and then trigger a redirection to the differents "cards" (all of this is my next todo...)

[code]
Very grateful for your help. These changes to my code where out of the reach of my tinkerer level. It r

[2018-09-10 13:49] lordfuoco commented on #218
@plicplic Glad to have helped!

You actually don't need a watch and you can directly call `self.$router.push` :)

If you want some code inspiration you can check the github source of vue-people

[2018-09-10 18:39] plicplic commented on #218
@lordfuoco Thanks for the suggestion, I will dive in this!

[2018-09-11 07:03] lordfuoco commented on #218
@plicplic if this issue is clear please close it :)

[2018-09-11 07:07] #218 closed

[2018-09-16 13:54] Yerrak commented on #173
Had exactly the same problem and came up with a similar solution and *then* found this issue ...

I went for the more straightforward fix by just emitting the events, see PR#219. Maybe we can integrate either of them :)

[2018-09-18 14:40] disjfa commented on #173
I was waiting on @KoRiGaN . We can probably still merge this.

[2018-09-19 17:32] carlmjohnson opened #220 "Add attribute to control scrollWheelZoom option"
Leaflet has an option called [`scrollWheelZoom`](https://leafletjs.com/reference-1.3.4.html#map-scrollwheelzoom), but Vue2Leaflet doesn't support it.

As a workaround for now, I have this code in my root component:

[code]

(This require `<l-map ref="map">` to be set.)

I would prefer to just set `<l-map :scroll-wheel-zoom="false">`.

[2018-09-19 19:36] lordfuoco commented on #220
You can simply do:

`<l-map :options="{scrollWheelZoom:false}" `

Options prop gets bound to leaflet options

[2018-09-20 11:07] lordfuoco commented on #220
@carlmjohnson if my answer satisfy your needs please close the issue :)

[2018-09-20 14:02] carlmjohnson commented on #220
Awesome, thanks! Can this be added to the docs somewhere? I searched the repo for scrollWheelZoom and didn't find it.

[2018-09-20 14:02] #220 closed

[2018-09-21 05:50] lordfuoco commented on #220
I am thinking to make a big doc pr I will make an issue about it today, any help would be welcomed!

[2018-09-21 08:19] l02162010 opened #225 "About Custom FloorPlan"
Sorry,
How to make like this https://codepen.io/l02162010/pen/aaMmVy?editors=1010
I don't konw how to change to vue2Leaflet
Please give me some advice

[2018-09-21 09:08] lordfuoco commented on #225
@l02162010 I don't have much experience with ImageOverlay, but AFAIK you can just do something like this:

[code]

And have a computed property to calculate image bounds

[2018-09-21 09:09] lordfuoco commented on #217
@SylwiaJeziorska Did you manage to fix your problem ?

[2018-09-21 09:10] lordfuoco commented on #216
@hpo14 if this is resolved can you please close the issue ?

[2018-09-21 09:10] #211 closed

[2018-09-21 09:58] SylwiaJeziorska commented on #217
Yes. Thanks for your help.
It was enough to reload the component.
My problem is that I do not have any experience with vue.js.

[2018-09-21 11:31] lordfuoco commented on #217
@SylwiaJeziorska Glad to hear! do you know about the discord server VueLand ? where the VueJs community hangs out ? There you can find help or reach out directly to me too (DonNico)
If the issue is closed please close the issue! :)

[2018-09-21 11:59] #217 closed

[2018-09-21 15:43] #216 closed

[2018-09-24 06:27] lordfuoco commented on #212
Hi @moas sorry for taking some time to answer.
You can achieve your bounce event by adding a class to the icon of the marker on click, and then have a CSS animation for the bounce.
the icon prop of the l-marker is reactive, you can pass to it a LDivIcon with your style and change it on click.

[2018-09-24 06:29] lordfuoco commented on #203
Closing this, since I believe is resolved

[2018-09-24 06:29] #203 closed

[2018-09-24 06:31] lordfuoco commented on #185
Hi! I started a docs branch where I am writing docs with vuepress, including the old examples and more.
It's smooth sailing but also a long river so it will take a bit to finish, if anyone wants to help it would be appreciated ( even just proofreading )

[2018-09-24 06:33] lordfuoco commented on #167
https://github.com/KoRiGaN/Vue2Leaflet/issues/185#issuecomment-423886038

[2018-09-25 01:49] l02162010 commented on #225
@lordfuoco Hi
Do you know how to calculate image bounds ?
And How to set Maxbounds in ImageOverlay?
if you know please tell me !  thankyou !

[2018-09-25 07:22] l02162010 opened #227 "change LImageOverlay attribution"
How to change LImageOverlay attribution
I know LTileLayer can use like this to change attribution
 <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>

But, I don't know LImageOverlay how to do?

[2018-09-25 07:30] lordfuoco commented on #227
@l02162010 Currently the attribution property on image overlay is not available, it will be included soon in a coming PR

[2018-09-25 07:51] l02162010 commented on #227
Have any way can change this?
like use
` L.control.attribution({
      prefix: false
    }).addAttribution('HQ @ Business Inc').addTo(this.$refs.map.mapObject);`
I can add addAttribution,but how to remove default tag

<img width="336" alt="2018-09-25 3 49 25" src="https://user-images.githubusercontent.com/14830189/46000286-afd25200-c0da-11e8-9f8f-5ac03eaf9c18.png">

[2018-09-25 09:37] l02162010 commented on #225
@lordfuoco
thank you!
It works

[2018-09-25 09:37] #225 closed

[2018-09-26 20:42] RamizSami commented on #157
Hey, I am still getting this same issue even after importing CSS. I am trying the code from here: https://github.com/KoRiGaN/Vue2Leaflet/blob/master/examples/src/components/Simple.vue. How can I fix this?

![image](https://user-images.githubusercontent.com/15404125/46107988-5d865380-c1f6-11e8-8c58-27685c3ec684.png)

[2018-09-26 23:50] plicplic opened #232 "resetStyle problem with highlightLayer"
Hi,
I can't get a "resetStyle" working on mouseout with Vue2Leaflet for the highlight feature. Is there something I'm doing wrong?

Here is the code:

[code]

I get a "not a function" result and have no clue how I could set this up.

Thanks for your attention.

[2018-09-27 05:57] #206 closed

[2018-09-27 06:00] lordfuoco commented on #157
This is usually the result of missing or not properly imported CSS. How are you importing the CSS? Can you provide us with code or even better a code pen?

[2018-09-27 06:50] plicplic commented on #232
Hi @lordfuoco,
Thanks. The simplified setstyle part works well. But the reset still don't.
Here is the whole bloc. You will recognize your help from a couple of week on capturing at click :-)

[code]

[2018-09-27 07:45] lordfuoco commented on #232
@plicplic do you get a function not found error or the function simply does not work ?
Also sqeeuze in a `console.log(layer)` inside the mouseout function, to see if is actually running

[2018-09-27 08:32] bezany commented on #232
Method `resetStyle` exists only for L.GeoJSON class in leaflet, but in callback `onEachFeature: (feature, layer)` parameter `layer` is not type L.GeoJSON. Is some other L.Layer child. [See this function](https://github.com/Leaflet/Leaflet/blob/ba1b253126df92b91993a678050d18a99d3d7b63/src/layer/GeoJSON.js#L164)
You can use `setStyle` with default options in `mouseout` like this:

[code]

[2018-09-27 10:09] plicplic commented on #232
@bezany Thanks for this clear explanation. I struggle to test your code because I got a "_const is a reserved word_" error.

Some people points to something to add to a .esrlint file but I can't find any trace of such a file in my app directory.

Is it the same to use a function like this?

[code]
That's what I tried but yet nothing happened and a console.log(layer) returns just nothing so I doubt

[2018-09-27 11:04] RamizSami commented on #157
Hey @lordfuoco this is my vue file:
https://dpaste.de/YNAd

[2018-09-27 11:18] lordfuoco commented on #157
@RamizSami  Hi!
So `
<style scoped>`

Your style is scoped, your import is going to be scoped, and since leaflet is not part of your component the css is not going to reach it.

Solution: if is okay remove scoped from the style block.
If is not okay import the css in the js -> `import "leaflet/dist/leaflet.css";`

[2018-09-27 11:45] bezany commented on #232
@plicplic You may replace `const` to `var`.
I created example: https://jsfiddle.net/3fcxzm9u/15/
Important notice: in `onEachFeature` can call `setStyle` only with parametr-object, not function because `layer` in `onEachFeature` is not L.GeoJSON class.

[2018-09-27 17:20] plicplic commented on #232
@bezany looking at your excellent jsfiddle and trying to refactor my code, I feel I'm very close.  but still, there's the var or const problem in my way. I decided to stick to the options rather than the computed properties because I'm more confortable with this at the moment.  Here is my code:

[code]

[2018-09-28 03:48] #232 closed

[2018-09-28 07:36] lordfuoco commented on #210
Sorry I somehow did not see this until now yes you can open popup without a marker by using a `<l-layer-group>'

I adapted a Fiddle: https://jsfiddle.net/eskm9zxh/

[2018-09-28 07:37] #204 closed

[2018-09-28 07:37] lordfuoco commented on #204
@sangdth the code with the fix is merged, release is due to come soon

[2018-09-28 07:41] lordfuoco commented on #177
Closing this since the issue is resolved and merged, release coming soon

[2018-09-28 07:41] #177 closed

[2018-09-28 07:43] lordfuoco commented on #179
@sangdth Hi! can you explain the rationale behind this?
With single props is possible to implement reactivity while with the 'options' bulk is harder.
Or you are asking for a double approach ?

[2018-09-28 07:43] lordfuoco commented on #157
Closing this since is solved

[2018-09-28 07:43] #157 closed

[2018-09-28 07:44] lordfuoco commented on #123
If anyone is still interested I posted a working fiddle in #210

[2018-09-28 12:20] xiaosheng222 commented on #227
I have the same question,
In the fine print, you can set it direct to `attribution: false` ([](https://leafletjs.com/reference-1.0.0.html#control-attribution)).
But setting `attribution: false` in the vue2-leaflet causes errors

![image](https://user-images.githubusercontent.com/19821241/46208007-de129480-c35b-11e8-864d-71e730b6b366.png)

[2018-09-28 12:52] lordfuoco commented on #227
@xiaosheng222 you can set the attribution either to `null` or `''` or `undefined`

[2018-09-28 16:43] justinbeatz commented on #204
When this is gonna be updated in the npm registry?

[2018-09-29 02:35] xiaosheng222 commented on #227
Yes, I finally set `' '`, I was worried that setting an `' '` might cause another problem, but I don't think it will cause another problem after looking at your answer.
Thank you very much indeed for your answer

[2018-09-29 06:48] lordfuoco commented on #204
Early next week, just doing some final tests since the code base updated a lot

[2018-09-29 07:24] #227 closed, assigned to nobody

[2018-09-30 17:56] lordfuoco opened #234 "Fix Pre new release"
@KoRiGaN I don't know if you were planning to do a release but please wait till I finish fixing the following bugs:

- Emit again move and zoom events
- Fix bounds issue that affect markercluster / polyline

I am currently working on those and I will proceed with a release as soon as it's done

[2018-10-01 11:33] #202 closed

[2018-10-01 13:05] lordfuoco commented on #234
Done in the latest master, will proceed with a minor release tomorrow after further tests

[2018-10-01 13:05] #234 closed

[2018-10-02 08:19] lordfuoco commented on #209
Also update:zoom means that the binding can be done with `.sync` attribute:
https://vuejs.org/v2/guide/components-custom-events.html#sync-Modifier
Closing this since it solved I think

[2018-10-02 08:19] #209 closed

[2018-10-02 08:57] bezany commented on #202
@JWDobken wait new release with this PR #228. And then you can use `optionsStyle` property with geojson-layer.

[2018-10-02 21:45] HIMISOCOOL commented on #213
heres a random assortment of types I started yesterday when I started using the library, Ill try make a pr when im finished

`declare module 'vue2-leaflet' {
    import Vue from 'vue';
    import L from 'leaflet';
    interface Control {
        position: 'topleft' | 'topright' | 'bottomleft' | 'bottomright';
        options: L.ControlOptions;
    }
    class LCircle extends Vue {}
    class LCirc

[2018-10-02 22:27] HIMISOCOOL opened #235 "v1.1.0 npm release"
Hey there team, any eta for a new NPM release? I just realized 1.0.2 doesn't have LControl exported :(

[2018-10-03 06:38] lordfuoco commented on #235
@HIMISOCOOL there is a problem with the travis npm deploy that sadly I can't solve alone waiting for @KoRiGaN input

[2018-10-03 06:38] lordfuoco commented on #213
@HIMISOCOOL Thank you very much! Please take a look at the current master after the refactor it should be easy to define types starting from the mixin :)

[2018-10-03 06:47] wishinghand opened #236 "Are methods from a class accessible?"
In the the Leaflet library, the Polygon class has a method called `getBounds`. If I have a few Polygons being drawn using Vue2Leaflet, how would I call `getBounds` (or any other method) on a specific polygon, like one that a user has clicked on?

[2018-10-03 06:55] lordfuoco commented on #236
@wishinghand yes they are, just place a ref on the polygon and then you can do
`this.$refs.myRefName.mapObject.methodThatyouWant()`

just keep in consideration that the leaflet version is 1.3.1

[2018-10-03 16:06] wishinghand commented on #236
So if I'm drawing each of my polygons with a `v-for`, I'd have to to make auto-incrementing refs? like this?

[code]

If I wanted to call `getBounds` on any particular polygon, how would I grab that ref?

[2018-10-03 17:43] lordfuoco commented on #236
You don't need to do that, because if you put a ref on a v-for vue generate an array of them.
Otherwise you can name them with something like zone.id or similar that you can recognise to find the right one

[2018-10-04 05:02] #236 closed

[2018-10-05 08:54] GopherJ opened #237 "v-marker fadeout"
### Description

#### Live Demo

http://jsfiddle.net/Boumi/k04zpLx9/

#### Steps to Reproduce

#### Expected Results

#### Actual Results

### Browsers Affected

- [ ] Chrome
- [ ] Firefox
- [ ] Edge
- [ ] Safari 9
- [ ] Safari 8
- [ ] IE 11

### Versions
- Leaflet: vX.X.X
- Vue: vX.X.X
- Vue2Leaflet: vX.X.X

[2018-10-06 18:36] JohnatanNorman opened #238 "Custom Icon with Nuxt"
Hi there.

I've been trying to replicate this jsfiddle: `https://jsfiddle.net/z3bmc1ex/42/` but couldn't get it to work in Nuxt.
UPDATE: I've changed standard icons but couldn't change second one with :icon.
Would appreciate help with this issue, since I can't find docs to resolve the problem myself. Code below throws an error:

and

Thanks in advance!
[code]

[2018-10-07 07:03] lordfuoco commented on #238
This is a working Vue leaflet implantation in nuxt you can refer to this files:

https://github.com/pulilab/vue-people/blob/master/frontend/plugins/vue-leaflet.js

https://github.com/pulilab/vue-people/blob/master/frontend/plugins/vue-leaflet.js

https://github.com/pulilab/vue-people/blob/master/frontend/plugins/vue-leaflet.js

[2018-10-08 06:36] lordfuoco commented on #237
@GopherJ Hi, I don't understand the issue, it's not explained.
The code pen works for me, can you please explain what is your problem / question   by editing the issue description ?

[2018-10-08 08:55] JohnatanNorman commented on #238
I think this is exactly what I was looking for, thanks!

[2018-10-08 11:12] flerko opened #239 "Need help"
Hi there.

Can you help me, please?
Can I draw the following with your library:
I have a huge cinema, inside the cinema zones, inside the zones of the places (with absolute position and x/y coordinates from API)
I want to display the cinema as a map in which part of the functionality will be available.

[code]

Is it possible?
And what errors can be?

So much thanks

[2018-10-08 11:38] lordfuoco commented on #239
@flerko the code snippet that you posted is something that would work with vue-leaflet.
What is the problem? Can you clarify a bit better your question / problems ?

[2018-10-08 11:39] lordfuoco commented on #238
@JohnatanNorman Let me know if this resolved your problem, in the next version of the docs I am going to put a Nuxt guide

[2018-10-08 14:40] flerko commented on #239
Trying to use your snippet:
I get a noncore mapping and I cannot understand what it can be connected with. I need to display in pixels, is this my main problem or maybe something else?

[2018-10-08 23:20] wishinghand opened #240 "Contextmenu mouse event fires on left click as well as right click"
### Description
When using `@contextmenu` to open a popup on `l-polygon`, both right and left clicks make it open. As per the docs, only right clicking should open it: https://leafletjs.com/reference-1.3.0.html#polygon-contextmenu (you may have to ctrl-f for 'contextmenu')

#### Code Reproduction
This is a simplified version of what I have, but basically when a polygon is added it gets a popup bou

[2018-10-09 06:38] lordfuoco commented on #240
@wishinghand Thank you for the report, will look into it

[2018-10-09 06:40] lordfuoco commented on #239
@flerko I don't understand what: noncore mapping is, can you make a codesandbox or a jsfiddle with your problem ?

[2018-10-09 07:34] lordfuoco commented on #235
@HIMISOCOOL while the npm situation is blocked I've made a next branch where I will keep the most updated code available under the dist folder, you can add it to your repo with:
`"vue2-leaflet": "git+https://github.com/KoRiGaN/Vue2Leaflet.git#next"`
Just be aware that is always going to be bleeding edge code :)

[2018-10-09 07:36] HIMISOCOOL commented on #235
Thanks heaps man, Im a bloody sort of dude anyway XD

On Tue, Oct 9, 2018 at 8:34 PM Nicolò Maria Mezzopera <
notifications@github.com> wrote:

[2018-10-09 07:43] lordfuoco commented on #235
@HIMISOCOOL :D if you find any bugs / problems please let me know here

[2018-10-09 07:45] lordfuoco commented on #240
@wishinghand I think the only way is to  add `@click.prevent.native` on the polygon and then trigger the visibility of the `LPopup` with `@ccontextmenu`

[2018-10-09 08:42] flerko commented on #239
The problem was in the wrong coordinates display, the following code fixed the problem:

[code]

Thanks for answers!

[2018-10-09 10:54] pixelizedPeanut commented on #191
I have the exactly the same problem, where I need to switch from one city to another, and the slight changed centre makes the map be completely off :(

[2018-10-09 11:43] lordfuoco commented on #191
@pixelizedPeanut Could you try to use the next branch as specified in this comment:
https://github.com/KoRiGaN/Vue2Leaflet/issues/235#issuecomment-428093131
and see if it solves your problem ?

[2018-10-09 12:21] pixelizedPeanut opened #241 "LGeoJson beforeDestroy error"
### Description

On destroy of parent component of LGeoJson component
LGeoJson component has the following error:
[code]
#### Component structure
[code]

the error seems to be caused by the above structure as, a direct child parent relationship between LMap and LGeoJson doesn't result in any error

#### Steps to Reproduce

#### Expected Results

No error

#### Actual Results

Error

### Browsers A

[2018-10-09 12:39] pixelizedPeanut commented on #241
installed via npm install vue2leaflet, whatever is latest and I have retrieved the version generated from package-lock.json

[2018-10-09 12:44] lordfuoco commented on #241
@pixelizedPeanut as I mentioned in the previous post: can you try to install vue2leaflet like this:
"vue2-leaflet": "git+https://github.com/KoRiGaN/Vue2Leaflet.git#next"
and see if this resolve your issue ?

[2018-10-09 12:48] pixelizedPeanut commented on #241
yuppy yey, no error

[2018-10-09 13:05] lordfuoco commented on #241
@pixelizedPeanut glad that it solved the issue, just be aware that is a branch with bleeding edge code. you can consider it always in `beta`

[2018-10-09 13:06] pixelizedPeanut commented on #241
will keep an eye open :) Thank you

[2018-10-09 13:06] #241 closed

[2018-10-09 16:50] wishinghand commented on #240
I tried triggering the popup visibility with a `v-show` or `v-if` but that didn't work. Should I be using a Leaflet method in the `@contextmenu`? `@click.prevent.native` also didn't work for some reason.

[2018-10-09 22:35] wishinghand opened #242 "keep-in-view prop doesn't work"
### Description
After adding `:keep-in-view="true"` onto an LPopup component, a user is still able to drag the map so the popup is out of view of the map window.

#### Live Demo
https://jsfiddle.net/wishinghand/hvfs5rez/2/

#### Steps to Reproduce
Make a popup on a polygon with the `keep-in-view` prop set to true, open it up, drag the map until the popup moves out of the map frame.

#### Expected

[2018-10-10 02:33] HIMISOCOOL commented on #235
@lordfuoco When I try to make a CircleMarker like in examples/src/components/GeometryTest.vue
it fails to initialize saying:

[2018-10-10 03:43] HIMISOCOOL commented on #235
well, I accidentally had lat and long around the wrong way so it was complaining about calculating bounds for a circlemarker earlier today but no mention of lat and long resolving to unusable co-ordinates so perhaps an improvement there? Maybe a validator that tells you your values are way too big.

My popups for markers were not showing at all on 1.1.0
Otherwise the all the other vue wrappers wil

[2018-10-10 06:47] lordfuoco commented on #235
@HIMISOCOOL so to capture your feedback:

- You would like a warning when lat and lon are passed improperly
- Popup issue (aware of it should be fixed now )
- Vue wrappers need updating ? this I don't understand

Thank you anyhow this is really helpful

[2018-10-10 06:57] HIMISOCOOL commented on #235
https://github.com/jperelli/vue2-leaflet-googlemutant 1.0.2 throws a very large number of errors when interacting with the map when using Vue2Leaflet 1.1.0.
It renders fine so I don't know if it affects its actual usage but its not a good time for the console

[2018-10-10 07:29] lordfuoco commented on #235
@HIMISOCOOL there was a bug with the default overlay pane for marker and gridLayer, I fixed that in the next.1 version, if you have time and you could try if this works for you now it would be great.
Also tooltip are working back again.
What kind of tooltip are you using ?

[2018-10-10 12:57] #239 closed

[2018-10-10 19:42] HIMISOCOOL commented on #235
[code]

if that's what you mean by tooltip

[2018-10-11 06:44] lordfuoco commented on #235
@HIMISOCOOL Yes sorry, I should have asked if you were using a pop / tooltip with a slot content or with content as a prop (they differ in implementation )
The implementation with a prop was indeed broken at some point, is now working properly (be sure to be running next.4 )
Apologise for the instability of the branch, now it will be better

[2018-10-11 08:04] HIMISOCOOL commented on #235
its okay dude, I just had to commit working code quickly, If I had my way
it would be done when its done XD
I will let you know how everything goes hopefully tomorrow

On Thu, Oct 11, 2018 at 7:44 PM Nicolò Maria Mezzopera <
notifications@github.com> wrote:

[2018-10-11 11:27] lordfuoco commented on #235
@HIMISOCOOL Same here :) thanks a lot

[2018-10-11 12:56] GopherJ commented on #237
Sorry for no description, I need a fadeout effect but with Vue2Leaflet I dont know how to implement it cause it remove directly the marker.

Could you help me ?

[2018-10-11 14:08] lordfuoco commented on #237
@GopherJ Sure, the general idea is:
have a function that
1)  progressively lower the opacity of the marker
2) when the animation is done (you can hardcode the time I think ) remove the marker as per usual

You could achieve this by putting a ref on the marker and doing something like this:

[code]

[2018-10-11 19:53] nparley commented on #96
For anyone having problems with vuetify this is the layout which is working for me:

[code]
And on resize I do:

[code]

[2018-10-13 13:31] moas commented on #212
Thx !!

[2018-10-13 13:31] #212 closed

[2018-10-13 14:07] GopherJ commented on #237
Thank you for this solution ! It seems works.

[2018-10-13 14:08] #237 closed

[2018-10-14 22:32] jericopulvera commented on #242
@wishinghand https://jsfiddle.net/hvfs5rez/3/

There is no "keep-in-view" prop.
[code]

[2018-10-15 04:32] wishinghand commented on #242
Ah, I didn't realize options weren't moved out into their own props. Thanks for the clarification.

[2018-10-15 04:32] #242 closed

[2018-10-15 11:57] GopherJ opened #243 "How to update from version '0.0.58' to the latest version ? I got an `mx2 is undefined` error"
### Description

#### Live Demo

http://jsfiddle.net/Boumi/k04zpLx9/

#### Steps to Reproduce

#### Expected Results

#### Actual Results

### Browsers Affected

- [ ] Chrome
- [ ] Firefox
- [ ] Edge
- [ ] Safari 9
- [ ] Safari 8
- [ ] IE 11

### Versions
- Leaflet: vX.X.X
- Vue: vX.X.X
- Vue2Leaflet: vX.X.X

[2018-10-15 13:11] bezany opened #244 "unlock leaflet version"
Now used leaflet version 1.3.1.
But exists leafelt version 1.3.4.
May be use leaflet '^1.3.4'?
Or exist any problem with this version?

[2018-10-15 19:28] Carnid opened #245 "Reactivity issue with l-marker options prop"
### Description

Maybe I don't understand how Vue2Leaflet wraps the leaflet library, but some expected practices don't seem to work properly with some features. Notably, the `options` prop, wherever it exists, doesn't seem to allow for reactivity. I can set an initial value to options, but whenever I try to bind it to a changing property, the changes don't seem to be applied to the related object.

[2018-10-15 21:20] HIMISOCOOL commented on #213
its not 100% right now, I only put proper types to the components I am using, the rest are just extending Vue. If you have time you can make types for all the other mixins and post the updated version here

[2018-10-15 22:15] walidsebai commented on #213
ok, i will get on it tomorrow if i can.

[2018-10-16 06:45] lordfuoco commented on #245
@Carnid reactivity works on the properties which have a matching set / getter function in leaflet, so that we can update the property without having to redraw the whole element ( or chain of elements )
in this case the interactive options come from interactive layer and interactive layer does not have a setInteractivity method to update the property 'on the go' , but maybe you use case has a point

[2018-10-16 06:54] lordfuoco commented on #240
@wishinghand sorry for taking some time to get back at you. so my advice is here is to put the `l-popup` in a `l-layer-group` and then put a ref  on the layer group.
At this point you can programmatically hope the popup by calling `this.$refs.myLayerGroupRef.mapObject.openPopup(<LatLng> latlng?)`

Hope this helps

[2018-10-16 08:06] bezany opened #247 "Strange LoadTest in Examples"
In LoadTest.vue in popup used url in src="https://archive.org/download/ElephantsDream/ed_1024_512kb.mp4"
This videofile have size is 50 mb. Every popup create request for video. It's page generate 2000 requests. May be use simple image in base64?

[2018-10-16 08:14] lordfuoco commented on #247
@bezany yes, do you want to take care of it ?

[2018-10-16 09:02] lordfuoco commented on #243
@GopherJ please try to remove your node modules folder, delete any entry of leaflet and vue-leaflet from you package.json and run: `npm install vue2-leaflet --save`
This should set all your dependencies to the right ones

[2018-10-16 09:13] #244 closed, assigned to nobody

[2018-10-16 10:38] bezany commented on #247
Yes, i soon create PR.
And other questions: why created 2000 requests when markers only 1000? It'is because we have two object for every popup: vue component and leaflet-popup?

[2018-10-16 10:47] lordfuoco commented on #247
Yes that is the reason, I tried many different techniques to avoid having duplicated elements but sadly there are downside on all approach so I reverted to a safe approach.

When the docs are over I will put tips to avoid to overload the page

[2018-10-16 11:39] sangdth commented on #204
@lordfuoco I've moved to new project, but thank you for your update, I will inform the team about this.

[2018-10-16 12:30] #247 closed

[2018-10-16 12:35] lordfuoco opened #250 "LMarker: if icon passed is not an acceptable LeafletIcon override it"
Currently if in the prop `icon` is  passed something that is not a valid leaflet icon instance it would break the code.
We need to change this, if the user pass something which is not an instance of  `L.icon` (https://leafletjs.com/reference-1.3.4.html#icon) we should override it with `new L.Icon.Default()`

marking this issue for the hackotcoberfest

[2018-10-16 14:49] GopherJ commented on #243
Thank you for the help!

[2018-10-16 14:50] bezany opened #251 "Problems with props and default values"
I found seriously problem with default properties values and use [object literals spread syntax](https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Operators/Spread_syntax) or Object.assign.
Problem's examples below:

maxZoom in options not work
vue2leaflet 1.0.2 version
https://jsfiddle.net/arfomx3p/1/
#next version
https://jsfiddle.net/qk9mjw5p/6/

sort layers raise error
vue2leaflet

[2018-10-16 15:34] GopherJ commented on #243
@lordfuoco I got still error `max2 is undefined`.

Here is my component
[code]

I've registered the components like this:
[code]

here is the data element:
[code]

The lat_lng property is in fact a latlng instance

[2018-10-16 22:37] lordfuoco commented on #245
@Carnid any contribution is welcomed, feel free to fork and checkout the master branch, at the end of the readme you will find the contribution guide.

The master branch is quite active since we are working on some bugfixes after a major refactor but we are happy for another set of hands!

[2018-10-17 03:13] steventlee commented on #251
Here is another example with the same issue I discovered.

lStyle not set
vue2leaflet 1.0.2 version
[https://jsfiddle.net/fj06pq7y/](https://jsfiddle.net/fj06pq7y/)

individual assign property work fine but not as an object
does not work
`<l-circle
        :lat-lng="marker"
        :radius="Math.sqrt(200) * 50000"
        :visible="true"
        lStyle="{color:red}"   />`

work
`<l-circle

[2018-10-17 08:50] tamanna-makkar opened #253 "properties inside the styleFunction() are not working for the geoJson"
am using leaflet geoJson, by using the coordinates polyline is drawing over on the map, Now I have to use style options to color the polylines, I followed the same method as mentioned in the geoJson example

<l-geo-json
        :geojson="geojson"
        :options="options"
        :optionsStyle="styleFunction"
        />

computed: {
 styleFunction () {
      return () => {
        return {

[2018-10-17 10:02] bezany commented on #253
It's not working if you use leaflet version 1.0.2 from npm.
Work in progress on new version.
You can use `"vue2-leaflet": "git+https://github.com/KoRiGaN/Vue2Leaflet.git#next"` from here #235
But I recommend wait when this issue #251 will be closed.

[2018-10-17 11:47] tamanna-makkar commented on #253
Thanks :)

[2018-10-17 17:48] GopherJ opened #255 "LCircle, LCircleMarker don't work"
### Description
It seems that LCircle and LCircleMarker don't work as expected, or I've done an error, here is my code.
[code]

#### Expected Results

It works

#### Actual Results

I got `max2 is undefined` error

### Versions
- Leaflet: v1.3.4
- Vue: v2.5.13
- Vue2Leaflet: v1.0.2

[2018-10-17 18:10] GopherJ commented on #255
vue2-leaflet@0.0.58 I didn't get this error but there is no cicle, circle marker.

[2018-10-18 10:51] GopherJ commented on #255
![peek 2018-10-18 12-49](https://user-images.githubusercontent.com/33961674/47149577-4a861100-d2d4-11e8-9a52-c660ed018756.gif)

I can't reproduce it, it's quite strange maybe it's related to my environment. I didn't find the problem, there is another problem is that I found that circles and markers jump when the version is >= 1.0.1

[2018-10-18 11:13] #251 closed

[2018-10-19 00:05] blaskovicz commented on #173
I can confirm that the `@update:center="callback"` never fires either in my example that's set up like:

`<l-map :zoom="zoom" :center="center" @update:center="centerUpdate" @update:zoom="zoomUpdate" ref="map" style="height: 300px">`

Two things I was trying to use:
`this.$refs.map.mapObject.fitBounds(bounds)`

and
`this.center = L.latLng(47.41322, -1.219482);`

Center is initialized so it's reacti

[2018-10-21 15:57] kevcodez commented on #213
@walidsebai Are you still on this? Would love to see this aswell.

[2018-10-21 16:30] walidsebai commented on #213
yeah but i'm busy at the moment i will take care of it in 2 week

[2018-10-21 20:07] #255 closed

[2018-10-21 20:07] #243 closed

[2018-10-22 03:01] walidsebai commented on #213
here is a my file with complete mixins and some component
ps: i received an email with saying @HIMISOCOOL  is making a pr but can't see any of the comment here github bug maybe
 `declare module 'vue2-leaflet' {
    import Vue from 'vue';
    import { PropsDefinition } from 'vue/types/options';
    import L, {
        PointExpression,
        LatLngExpression,
        ControlOptions,
        LatLng

[2018-10-22 07:58] lordfuoco commented on #213
If you want to contribute you need to fork the repo and do a branch there and then create a PR :)

[2018-10-22 16:28] HIMISOCOOL commented on #213
this is so scuffed github has really destroyed this thread O_O yeah I tried
to make a pr but it seems to be a ghost just like my replies

On Mon, Oct 22, 2018 at 4:26 PM walidsebai <notifications@github.com> wrote:

[2018-10-22 16:42] HIMISOCOOL commented on #213
yeah I have a fork, and I branched off next, and then I pushed it up and
github refused to acknowledge it existed. The button to make a PR is
showing now but now that I've made the pr I cannot see it in the list so
idk whats up with Github right now.

On Mon, Oct 22, 2018 at 9:20 PM Nicolò Maria Mezzopera <
notifications@github.com> wrote:

[2018-10-22 20:02] HIMISOCOOL commented on #213
turns out there was a github outage, just my luck.
anyway #258 is up and ready to review.
@walidsebai has had a quick look, am I missing anything from your types?

[2018-10-22 20:31] walidsebai commented on #213
@HIMISOCOOL  no i don't thinks so other than more precise type, but we can do that as an enhancement.

[2018-10-23 04:12] flerko opened #260 "Problem with bounds"
Hi there.

Example:
http://artist.rhinoda.com/#/

I calculate dynamically the size of the scene.
But I can not lift the stage above the fixed line of the leaflet.
fitBounds and Bounds don't solve my problem.
What could be the reason?

Thanks!

[2018-10-23 06:50] flerko commented on #260
Change L.CRS.Base to L.CRS.EPSG4326 solved my problem

[2018-10-23 06:50] #260 closed

[2018-10-23 13:19] alexxlagutin opened #261 "Changing CRS is not yet supported by Leaflet"
Hi! Do you have any plans to update this?

[2018-10-24 12:56] towc opened #262 ""Quick Start Guide" link doesn't link to a guide"
### Description

There's a link in the README that points to https://korigan.github.io/Vue2Leaflet/, which to me seems to be a collection of examples, yet the link is called "Quick Start Guide"

[2018-10-24 13:57] bezany commented on #261
I think not good solution will implements change CRS if leaflet don't support it.
It's need full re-mounted map component and all children.
But you can manual re-mounted map after change CRS. For this need set [`:key`](https://vuejs.org/v2/api/index.html#key) property of LMap depended from CRS type. If CRS change then vue re-create component of LMap.
I create example:
https://jsfiddle.net/yd8Lrx6e

[2018-10-24 16:10] lordfuoco commented on #261
This is a perfect case to add in a note in the new docs! Let's keeps this issue open till we are a done with the new docs.

[2018-10-24 16:15] alexxlagutin commented on #261
@bezany Thank you! Your solution works well for my case

[2018-10-24 22:52] bestian commented on #42
How do i set custom Marker icon in a <l-maker> component?

[2018-10-24 23:09] ffischer1984 commented on #42
`                <v-map :zoom="zoom" :center="center">
                    <v-tilelayer :url="url" :attribution="attribution"></v-tilelayer>
                    <v-marker v-for="item in markers" :key="item.key" :lat-lng="item.position" :icon="item.icon" :visible="true" v-on:l-click="onMarkerClick(item)"></v-marker>
                </v-map>`

The type of item.icon has to be L.icon (from leaflet)

[2018-10-25 00:32] bestian commented on #42
it's not worked for me.

here's my code:

`<template lang="jade">
  .hello
    l-map(style="width: 100%; height: 600px;" ref="map", :zoom="7", :center="[22.413220, 121.219482]")
      l-tile-layer(:url="url", :attribution="attribution")
      l-marker(v-for = "h in hands", :lat-lng="countLatLng(h)", :icon="icon")
</template>

<script>

import { L } from 'leaflet'
import { LMap, LTileLayer, LMarker

[2018-10-25 02:18] bestian commented on #42
It' not worked

My component is l-maker, not v-marker

Maybe the code will be different

[2018-10-25 18:08] ffischer1984 commented on #42
Yeah it's old source Code from me. You have replace v with l. I'm not really sure why you're talking about l-maker. I think the webcomponent is l-marker with a r

[2018-10-26 04:57] bestian commented on #42
yes, it's  l-marker
how do i use custom icon on these components?

[2018-10-26 22:53] ffischer1984 commented on #42
hmmn there are two possibilities:
- your marker has false lat/lng coordinates (don't know what the
method "countLatLng"
really does) So look in your html-code if you can find the marker or use
the vue-dev tools
- there is something false with you'r jsx-code? (I'm not an expert in jsx)

Bestian Tang 小巴 <notifications@github.com> schrieb am Fr., 26. Okt. 2018 um
06:57 Uhr:

[2018-10-27 10:54] lordfuoco commented on #262
@towc we are working on a documentation full rewrite :) thank you for taking the time to write an issue!

[2018-10-27 10:55] lordfuoco commented on #253
The next branch is updated with this changes and fixes! Soon an npm release

[2018-10-27 10:56] lordfuoco commented on #213
fixed by #258

[2018-10-27 10:57] #238 closed

[2018-10-27 10:57] lordfuoco commented on #210
Closing due to inactivity

[2018-10-27 10:57] #210 closed

[2018-10-27 10:59] lordfuoco opened #263 "Move build system to vue-cli"
I want to move the build system to vue-cli and better integrate the examples.

Two objectives:
- better development workflow
- webpack 4

[2018-10-28 13:28] lordfuoco commented on #195
This should be resolved in the new release @sangdth could you please verify ?

[2018-10-28 13:29] lordfuoco commented on #193
Closing due to inactivity

[2018-10-28 13:29] #193 closed

[2018-10-28 13:29] jurb commented on #199
@lordfuoco That would be amazing! I think (hope) I'm pretty close, but I don't know how to proceed. If you have any idea about how to go about solving [this issue](https://github.com/jurb/vue2-leaflet-heatmap/issues/1) I'm all ears!

[2018-10-28 13:29] lordfuoco commented on #191
Version 1.1.1 is out on npm and should fix this issue @pixelizedPeanut could you test and see if ti resolve your issue ?

[2018-10-28 13:30] lordfuoco commented on #184
Closing due to inactivity

[2018-10-28 13:30] #184 closed

[2018-10-28 13:31] lordfuoco commented on #173
@blaskovicz can you try with the lastest 1.1.1 version and see if this is still the case ?

[2018-10-28 23:59] kesm0 commented on #195
@lordfuoco I will check as soon as release published.

[2018-10-29 06:48] lordfuoco commented on #195
@kesm0 the release is online since yesterday! You can update with npm / yarn

[2018-10-29 12:56] kesm0 commented on #195
Still same error when permanent and interactive set to true, on beforeDestroyed.

No errors interactive only:
[code]
No errors with permanent only:
[code]

Errors with both:

[code]

Output:

[code]

[code]
For me It's not a critical issue, I can deal with it in production, passing Vue config silent to true.

[2018-10-29 13:05] kesm0 commented on #195
I have different error feedback on firefox.

[code]

[code]

[2018-10-29 13:45] lordfuoco commented on #195
@kesm0 thank you for the detailed bug report, we will investigate this!

[2018-10-30 17:04] johallar commented on #184
I was having the same problem, and I think you need to be passing a copy of the `currentCenter`  from your store, because the `vue-leaflet` modifies properties of this object directly, rather than re-assigning the center object which would call the setter.

[code]

[2018-10-30 20:50] disjfa commented on #173
1.1.1 fires on all cylinder. Forgot to mention that the other day when i tested the master branch.

So yes, it fires now 👍

[2018-10-30 20:50] #173 closed

[2018-10-31 00:28] burzum commented on #146
Same issue for me. :(

[2018-10-31 07:13] lordfuoco commented on #146
Did you guys tried to update to the latest version? We just released on npm a lot of bugfixes and improved the code base quite much!

[2018-10-31 09:31] lordfuoco commented on #163
@burzum are you using exactly @SiggyF markup / js ? if so I will take a look with that example.
If not please post your structure, in 1.1.1 we released some speed improvements for the tooltip / popup and it may have caused this.

[2018-11-01 14:38] benzkji commented on #263
what do you mean exactly? integrate with the new vue-cli 3 plugin system, and the so called "generator", that will update all needed webpack configurations for vue2leaflet? +100, then!

I am currently beginning a new Vue project, and struggling how to get the vue2leaflet css into my vue-cli 3 based project. A quick tip would be nice;-)

[2018-11-01 23:06] imShara opened #265 "No load event"
I have number of maps and I need to fit map bounds to markers by default. Markers creats with `v-for`. But there is no [load-like](https://github.com/KoRiGaN/Vue2Leaflet/issues/51) event to attach.

Original problem can be solved [like this (JSFiddle)](https://jsfiddle.net/k04zpLx9/3497/) in my case. With nuxt-leaflet, leaflet [should also be imported](https://stackoverflow.com/questions/53075106/

[2018-11-02 04:11] eralogos commented on #28
I encountered the same problem.
According to the quotes in leaflet.css file:

                // @option imagePath: String
		// `Icon.Default` will try to auto-detect the location of the
		// blue icon images. If you are placing these images in a non-standard
		// way, set this option to point to the right path.

Try add a imagePath string in the options object, like this:

               imagePat

[2018-11-02 05:55] bezany commented on #265
@imShara In current version exists event ['leaflet:load'](https://github.com/KoRiGaN/Vue2Leaflet/blob/master/src/components/LMap.vue#L101)
May this event be useful https://jsfiddle.net/42rkhemy/4/

[2018-11-02 09:02] #265 closed

[2018-11-02 10:31] BryTack commented on #262
For a Vue beginner, that's me, some very basic examples would be very useful.  The equivalent of a 'Hello World' example please.

[2018-11-02 10:46] tamanna-makkar opened #266 "Can't use <router-link> Inside the GeoJson2Popup.vue"
I am using the Latest features of geoJson version 1.1.1
on some point, I have to show popup on click on polylines/polygons/point, and Inside that Popup I have to use `<router-link>`

I used like this as below ----

[code]
and PopupContent is my another vue Component, I'm using `<router-link> `inside the PopupContent.vue but it is not working `TypeError: Cannot read property 'resolve' of undefined`

[2018-11-02 13:45] bezany commented on #266
Hmmm... Looks like problem in manual create component. When you call `new PopupCont(...)` component not get router object. For example [same problem](https://github.com/vuejs-templates/webpack/issues/709)
I don't know right solution. Maybe add an instance of `router` to the argument list for `new PopupCont(...)`. Or add `PopupContent` component in template and copy content when binding Popup.

[2018-11-02 20:14] byWulf opened #267 "L.divIcon with rendered HTML-Code"
Hello,

as far as I see it is not currently possible to generate the HTML code for a divIcon (later used for a marker) easily with a template of vue, but instead it as a string. If I missed something, please tell me :)

If this does really not exist, I could imagine of an implementation like this:
[code]
This could also be used for normal `L.icon`s:
[code]

Is this possible with vue? If yes, I wou

[2018-11-03 08:50] lordfuoco commented on #266
You can put your router link in the popup markup as a slot and in that case It will work.

If you need. To use it with extend as you are doing you need to explicit pass the router instance (and the store and so on) during extend as a config object

[2018-11-03 08:53] lordfuoco commented on #267
Mmh so, l-marker need to add the icon instance when is loaded. But what we could do is that the `l-icon` component my use find real parent to detect the marker and then call a set Icon method to set itself.

We would need to pay attention to the performance.

Would you be up to it? If so go on with a PR

[2018-11-03 08:54] lordfuoco commented on #263
The issue is actually meant for the development experience / build size.

But not that you mention it It would be really cool to be able to use the Vue cli generators!

[2018-11-04 15:00] InfoSec812 opened #269 "Enhancement: Expose property to enable/disable the zoom button layer."
As a developer creating an app which tracks the user's current position on a mobile device, I would like the ability to disable the zoom in/out button layer on the map view. The attribute in the Leaflet project is called `zoomControl` and should be relatively easy to expose. I will try to submit a PR shortly for this feature.

[2018-11-04 19:04] tamanna-makkar commented on #266
Ahh, many thanks for the reply,
So I can manage separate component for popup and can use `<router-link>` as a slot
and how can I use that `PopupContent`( separate popupComponet ) Inside the onEachFeature() ?

[2018-11-05 04:47] thescs opened #271 "How to include plugin into project? Does project have any documentation?"
main.js
`import L from 'vue2-leaflet'
import 'leaflet/dist/leaflet.css'
Vue.use(L)`

test.vue
`<l-map ref="map" :zoom=13 :center="[47.413220, -1.219482]">
            </l-map>`

Then error:
**[Vue warn]: Unknown custom element: `<l-map>` - did you register the component correctly?**

[2018-11-05 08:47] lordfuoco commented on #271
@thescs You can import leaflet component by component as follows:
[code]
also you need to load the css:
[code]

[2018-11-05 08:47] lordfuoco commented on #271
I know that the documentation is lacking, we are catching up on it :)

[2018-11-05 08:55] lordfuoco commented on #266
@tamanna-makkar can you specify better the last question ? maybe a code example ?

[2018-11-05 11:46] tamanna-makkar opened #272 "Cannot read property 'x' of undefined while adding styles to the pointToLayer conditionally"
I'm using `pointToLayer()` to style the points in geoJson, am using `switch cases` with in the `pointToLayer()` like below

[code]
but when I use switch cases, then I got `Cannot read property 'x' of undefined` Even I defined the default case In case if property "startJaar" not accounted by any case, then It can use default case

this issue arose with updated vue2-leaflet version(1.1.1), but worki

[2018-11-05 13:21] lordfuoco commented on #272
Can you send over the geo JSON that you are using please?

[2018-11-05 13:53] kbedra-tbscg opened #273 "Enhancement: Expose property to set zoomSnap value and ability to set fractional zoom level."
I need to set a fractional value for zoom level like 4.5 or 2.25.
In the documentation for leaflet: https://leafletjs.com/examples/zoom-levels/ there is an optional variable to enable fractional values: snapZoom.
Also zoom, minZoom and maxZoom props need to be changed to type 'String' to be able to put fractional numbers.

[2018-11-06 06:54] tamanna-makkar commented on #272
yeah, this is the way am using geoJson

`<l-geo-json v-if="projects.features" :geojson="projects" :options="options"/>`

[code]

[2018-11-06 08:41] jkatagi opened #274 "marker isn't reactive after updating vue2-leaflet"
### Description
I updated vue2-leaflet from v1.0.2 to v1.1.1 but after updating, marker isn't reactive.

I manage the marker's latlng in stores to update it from other components (e.x. from Exif information of pictures), so the code is a little complicated.

Could you tell me what happened? thanks.

#### Live Demo
- works at v1.02 : [jsfiddle](https://jsfiddle.net/futr8xv7/2/)
- doesn't work at v1

[2018-11-06 08:46] abreitenfeld commented on #271
Same problem here. Also the example project is not working out of the box since `package.json` does not includes `vue2-leaflet` itself and it tries to locate some leaflet resources in the parent `node_modules` folder. Is it an option to decouple the example project from the parent node project.

[2018-11-06 09:03] jkatagi commented on #274
Oh, I found that this is also happened without using Vuex store.
- woks at v1.0.2 : [new jsfiddle](https://jsfiddle.net/futr8xv7/5/)
- doesn't work at v1.11.1 : [new jsfiddle](https://jsfiddle.net/futr8xv7/4/)

[2018-11-06 09:20] lordfuoco commented on #271
@abreitenfeld the examples are meant to work with `npm link` but yeah docs and better examples are on the way

[2018-11-06 09:29] lordfuoco commented on #274
@jkatagi thank you for the issue, I will take a look!

[2018-11-06 09:45] lordfuoco commented on #274
@jkatagi I see, before it was working due to the object being passed by reference.
There is a specific event and we need to listen to it, we will work on it soon :)

[2018-11-06 09:52] lordfuoco commented on #273
@kbedra-tbscg marking this as an enhancement and picking it up soon

[2018-11-06 09:53] lordfuoco commented on #267
@byWulf closing this since the PR is merged!

[2018-11-06 09:53] #267 closed

[2018-11-06 09:53] #266 closed

[2018-11-06 09:59] lordfuoco commented on #272
@tamanna-makkar pointToLayer is a leaflet function.
if you want to use L.circleMarker you need to import L in your component.
What changed in 1.1.1 is that we are using the leaflet 1.3.4.
can you try to console log the params in point to layer and see if some data is missing?

[2018-11-06 10:46] tamanna-makkar commented on #272
yes I need to import L into my coponent, see I consoled params and they are properly working

![error](https://user-images.githubusercontent.com/32664347/48059450-423c3a00-e1df-11e8-8fe1-55558e12c2e1.png)

[2018-11-06 15:47] BryTack opened #275 "Markers not displayed"
Very new to this world, please forgive me if not appropriate to ask questions here but unfortunately the
stackoverflow's Vue2Leaflet community is not yet active.  (Where should I be posting questions, if not here?)

Could someone please tell me why this simple component page does not display any markers (just a map).  I have tried multiple variations by so far not seen a single marker.

I understa

[2018-11-06 16:38] thescs commented on #271
its fucking is not working.
and i must to use that fucking google maps...

[2018-11-06 16:54] lordfuoco commented on #271
@thescs what is not working? Do you have error messages? Like this is very hard to help you solve your problem

[2018-11-06 19:20] Alhakem commented on #96
Hello guys, If you are facing such problem with vuetifyjs it's most probably that the map container is initialized with a small size.

To solve this problem you need to insure that you are loading the map whenever the container is taking the actual size.

For example, if you are using dialog as a container for the map, all what you have to do is using 'lazy' prop to insure that the content is rend

[2018-11-06 20:31] byWulf commented on #275
`this.myMarkerIcon` isn't existing yet when you return the object in your data function, because it is only available after the object in data was returned :D Try it the following way (first put your icon in a temp variable, this you can then assign to your markers ans if wished also return in your data object for later use):
[code]

[2018-11-07 07:38] lordfuoco commented on #272
To help you i would need access to the code, and check few stuff. Only the componente that makes the geo JSON and geo JSON itself.

Any chance you can put it con codesandbox or code pen?

[2018-11-07 09:01] lordfuoco commented on #275
@BryTack Glad that @byWulf managed to help you right away! Worry not we all started somewhere!
feel free to open more issues if you need help or reach out!

Closing this since is solved !

[2018-11-07 09:01] #275 closed

[2018-11-07 09:37] lordfuoco commented on #271
Closing and locking  this since is not a constructive conversation, and rude behaviour is not appreciated here.
@abreitenfeld if you still need any help feel free to open another issue

[2018-11-07 09:37] #271 closed

[2018-11-07 10:19] chaogis commented on #146
i meet this problem yestoday when i updated vue2-leaflet from 1.0.2 to 1.1.1, while leaflet is the newest version 1.3.4. However, before update vue2-leaflet to 1.1.1, it all work fine. So, i wonder where the error come from, from vue2-leaflet or leaflet? @KoRiGaN Could you please take some attention to find it out and  solve? Thank you!

[2018-11-07 10:28] lordfuoco commented on #146
@chaogis Can you please share the code snippet that cause the error ?

[2018-11-07 11:57] chaogis commented on #146
I am glad to receive from you, following is part of my code:
`cityGeojsonOptions(){
      return {
        pointToLayer: this.pointToLayerFunction,
        onEachFeature: this.onEachFeatureFunction
      }
    },
    pointToLayerFunction(){
      return(geoJsonPoint, latlng) => {
        let factorVal = geoJsonPoint[this.factor];
        let level = 'level0';
        if(factorVal){
          level

[2018-11-07 12:00] chaogis commented on #146
![image](https://user-images.githubusercontent.com/32628057/48130426-96224e00-e2c7-11e8-81ce-e7ad84febd00.png)
@KoRiGaN the code above is confusion， so i clip a picture of my code

[2018-11-07 12:49] lordfuoco commented on #146
@chaogis Thank you for the code, I will try to replicate the problem!

[2018-11-07 16:49] lordfuoco opened #277 "Roll back to leaflet 1.3.1: markercluster plugin broken"
Apparently leaflet 1.3.4 breaks markercluster plugin.
This is the result of a quick test that I did.
If anyone wants to test / chime in is welcomed.
I will test this more in the coming days  @jperelli  maybe you are interested

[2018-11-08 03:51] X1machinemaker1X opened #278 "Adding a custom pane"
How might I go about adding a custom pane? I was going to do it in the map load event but that doesnt seem to be working correctly. The load event isnt firing.

(btw, I asked on stackoverflow first, and no one knew)

[2018-11-08 06:51] lordfuoco commented on #278
Hi! No problem in asking here.
You can wait for the event: `leaflet:load` on the `l-map` component and then use a ref on the map component to do: `this.$refs.myrefname.mapObject.anyLeafletMethodHere()`

[2018-11-08 08:48] #274 closed

[2018-11-08 08:48] #277 closed

[2018-11-08 08:49] lordfuoco commented on #274
@jkatagi  I am about to release a new version that includes a fix for this issue.
To avoid side effects you will need to add .sync modifier to lat-lng on the marker.
you can see the example 'some examples' to see it in action

[2018-11-08 08:59] lordfuoco commented on #273
@kbedra-tbscg on a second note.
You can already do this, by passing `zoomSnap` in the options of the `l-map`
I've updated the simple example to include this in action.

[2018-11-08 09:00] lordfuoco commented on #199
@jurb when you are ready with your plugin feel free to make a PR to add it to the readme! Closing here

[2018-11-08 09:00] #199 closed

[2018-11-08 09:02] lordfuoco commented on #262
@BryTack the examples are already there! but they will be enhanced in the new docs!

[2018-11-08 09:33] nparley opened #279 "Move leaflet to peerDependencies?"
Webpack will use isolated leaflets if the version of leaflet differs in your `package.json` file compared to the version in the requires from Vue2Leaflet.

For example using the Leaflet.pm plugin (https://github.com/codeofsumit/leaflet.pm), the leaflet map constructer is modified. If the versions different importing leaflet.pm will not affect the version Vue2Leaflet is using and so the map will no

[2018-11-08 09:34] jkatagi commented on #274
@lordfuoco Thank you very much for you help! I'm waiting your release!

[2018-11-08 09:50] kbedra-tbscg commented on #273
Thank you for your reply. Indeed, I can set zoomSnap by setting options, I didn't know that. But now, the problem is hat LMap component have "zoom" prop validated as Number, not String so I can't set fractional zoom as initial value. In the example you updated, you have changed  "currentZoom" value which is now different than "zoom". The map remain set on whole level number 13.

[2018-11-08 11:05] lordfuoco commented on #279
Ehi! Thank you for the issue.
Problem is that being this a wrapper around leaflet we need to be very careful on the leaflet version.
Because some methods that we use may not be available in a different version.

We can export the imported leaflet tho!
This is rather simple and I will introduce this soon!

[2018-11-08 11:10] lordfuoco commented on #273
If you zoom in the map it will scroll down 0.5 by 0.5.

Since the prop is a Number you can pass 0.1 or any other decimal.

Or am I missing something?

[2018-11-08 11:13] kbedra-tbscg commented on #273
Sorry, my mistake. Everything is fine, thanks. Can be closed.

[2018-11-08 11:48] lordfuoco commented on #273
@kbedra-tbscg glad to be of help!

[2018-11-08 11:48] #273 closed

[2018-11-08 13:54] jperelli commented on #277
Is there an upstream issue? I didn't find it in leaflet-markercluster repository

[2018-11-08 15:07] lordfuoco commented on #277
@jperelli I did not check but with leaflet 1.3.4 there is an error in the console about the markercluster constructor

[2018-11-08 15:13] X1machinemaker1X commented on #278
hmm, when I try to add a method to the leaflet:load event, (I was using the ready event before and it still gave me the same results), it says this is undefined.

[2018-11-09 07:42] lordfuoco commented on #278
@X1machinemaker1X are you listening to the event like this ?
[code]

also what version are you using ?

[2018-11-09 15:48] nparley commented on #279
Thanks 👍

[2018-11-09 19:11] X1machinemaker1X commented on #278
I was referencing this is the wrong spot. I got it to work. thanks

[2018-11-09 19:11] #278 closed

[2018-11-10 23:25] X1machinemaker1X opened #280 "Set view based on url attributes"
So im trying to get the map to change views when the map is loaded with lat and lng values in the url. Im just not sure where to have the map change view. I tried in vue's mounted() and in the $nextTick() but the map just seems to reset to the default view. ik the map moves by listening to the move event so something definitely happens.

TLDR: When should I set the view so that it is the final sta

[2018-11-11 13:50] lordfuoco commented on #280
@X1machinemaker1X can you share how you are loading the map and the data object / computed object ?

[2018-11-11 13:50] lordfuoco commented on #279
@nparley Done in version 1.2.3.
This also let me open a discussion for plugin devs. I am making a separate issue out of this.

[2018-11-11 14:04] DonNicoJs opened #281 "Leaflet version and version lock [FOR PLUGIN DEVS / USERS]"
After two days of debugging I finally managed to grasp an issue that I was having on some personal projects ( vue people and others ).
As it stands leaflet used to export itself to the window object, in more recent version they also have an es6 module version.
Most of the leaflet plugins uses the window object so they keep exporting it.
Now there are some edge cases that completely breaks both vue

[2018-11-11 14:05] lordfuoco commented on #277
related to https://github.com/KoRiGaN/Vue2Leaflet/issues/281

[2018-11-11 16:03] nparley commented on #279
Yep. Might as well close this issue but link it to https://github.com/KoRiGaN/Vue2Leaflet/issues/281.

[2018-11-11 16:03] #279 closed

[2018-11-11 17:14] nparley commented on #281
This explains the problem: https://lexi-lambda.github.io/blog/2016/08/24/understanding-the-npm-dependency-model/

Why use peer dependencies https://stackoverflow.com/questions/26737819/why-use-peer-dependencies-in-npm-for-plugins

[2018-11-11 18:13] lordfuoco commented on #272
@tamanna-makkar please check here
https://github.com/KoRiGaN/Vue2Leaflet/issues/281

[2018-11-12 06:37] tamanna-makkar commented on #272
Ahh! Much thanks, so am gonna closing from here

[2018-11-12 06:37] #272 closed

[2018-11-12 12:18] nparley commented on #281
Adding unit tests with different leaflet versions would be nice too, to help find out about problems

[2018-11-12 20:52] X1machinemaker1X commented on #280
`<template>
  <div class="map">
    <l-map
      id="wamap"
      ref="map"
      :options="mapOptions"
      :center="center"
      :bounds="bounds"
      :crs="crs"
      @zoom="onZoom($event, $data)"
      @click="mapClick($event, $data)"
      v-if="loaded">
      <l-geo-json
        className="geojson"
        ref="geojson"
        :geojson="geojson.data"
        :options="geojson.options"

[2018-11-15 19:36] X1machinemaker1X commented on #280
anything?

[2018-11-16 07:56] lordfuoco commented on #280
@X1machinemaker1X so my suggestion would be:

- create a property in data called `mapReady: false`
- add the `leaflet:load` event to map `@leaflet:load="mapReady=true"`
- make a computed property as follows:
[code]
- bind `realCenter` to the `:center=""` prop on the `l-map`

Sorry if it took a while, let me know if you are able to solve like this

[2018-11-16 21:42] X1machinemaker1X commented on #280
seems to work! thanks

[2018-11-16 21:42] #280 closed

[2018-11-16 22:05] X1machinemaker1X opened #284 "Any way to get leaflet-search to work with vue2leaflet?"
ive tried several ways to get [leaflet-search](https://github.com/stefanocudini/leaflet-search) to work. And I cant figure it out, or even if its possible. I supposed I could create my own search functionality, but I wanted to try this first.

[2018-11-16 22:37] X1machinemaker1X commented on #284
I think the main issue is being unable to give the search option for the layer as it requires a LayerGroup object, not the name of it.

[2018-11-16 22:53] kevcodez opened #285 "Incompatibility with marker-cluster"
Upgrading to the latest version 1.2.3 seems to break the marker cluster plugin usage.

I'm getting:

    at NewClass._updateContent (vendors.app.js:69956)
    at NewClass.update (vendors.app.js:69899)
    at NewClass.onAdd (vendors.app.js:69836)
    at NewClass.onAdd (vendors.app.js:70090)
    at NewClass._layerAdd (vendors.app.js:67055)
    at NewClass.whenReady (vendors.app.js:64935)
    at NewC

[2018-11-17 15:46] lordfuoco commented on #285
@kevcodez Actually I released 1.2.3 exactly to address an issue with markercluster!
What version of vue-leaflet-markercluster and leaflet.markercluster are you using exactly ?

[2018-11-17 15:55] kevcodez commented on #285
@lordfuoco Using vue2-leaflet-markercluster version 2.0.0, didn't specify leaflet.markercluster in my package.json

[2018-11-17 22:20] lordfuoco commented on #285
Okay I will take a look again at it! Thank you for the issue

[2018-11-18 00:18] kevcodez commented on #285
If it helps, I am using it within nuxtjs.

[2018-11-18 09:39] lordfuoco commented on #285
Yes same, using vue-leaflet 1.2.3 nuxt js and marker cluster 2.0.

[2018-11-19 00:12] kevcodez commented on #285
Not getting any exception, but the clustering does not happen.

/plugins/vue-leaflet.ts

[code]

My vue component

[code]

Works fine on vue-leaflet 1.1.x - any breaking change?

[2018-11-19 00:41] imudin commented on #281
@lordfuoco Making the same version of leaflet is not solving the issue

[2018-11-19 07:32] lordfuoco commented on #281
@imudin To understand your problem can you please post down all the version of the leaflet related repo that you are using ?

[2018-11-19 07:39] lordfuoco commented on #285
@kevcodez you don't get any issue just because without popups the issue appears 'later'.
No there is not breaking change and this is a typical 'leaflet version mismatch' issue.
Can you try as follows:
- wipe your node_modules
- remove any leaflet entry in your package.json
- make sure that vue2-leaflet is at 1.2.3
- make sure that vue-leaflet-markercluster is at 2.0.0
- double check that your pack

[2018-11-19 07:39] lordfuoco commented on #284
@X1machinemaker1X can you share a piece of code where this is implemented ?

[2018-11-19 07:40] X1machinemaker1X commented on #284
I just ended up making my own search thing. it was simpler. sorry

[2018-11-19 07:40] #284 closed

[2018-11-19 09:19] imudin commented on #281
@lordfuoco Now I works. I was using [vue2-leaflet-path-transform](https://github.com/imudin/vue2-leaflet-path-transform) locally. I  added it to my main project in this way `npm i /path/to/vue2-leaflet-path-transform`. After I published the plugin with leaflet@1.3.1 and vue2-leaflet@1.0.2 it is working. Even I updated leaflet of main project to v1.3.4.

[2018-11-19 10:39] lordfuoco commented on #281
@imudin Great! So you are the author of vue2-leaflet-path-transform?
if so please state leaflet as a peerDependecy in your repo ( or not at all ) so that we can avoid this issue in the future

[2018-11-19 14:18] pmochine commented on #62
Just tried to add a listener to the mapobject:

    this.mapObject.on('popupopen', () => console.log('test'));

works if someone needs this

[2018-11-19 14:54] kevcodez commented on #285
@lordfuoco Didn't work unfortunately. I know it's working in vue-people - pretty strange....

[2018-11-19 16:58] lordfuoco commented on #285
The culprit should be this line:

[code]
Try to remove it and reinstall your packages

[2018-11-19 23:38] imudin commented on #281
@lordfuoco Okay I will! thank you for your time 👍

[2018-11-20 00:04] kesm0 commented on #195
Any idea for this issue ?
Interactive tooltip is a good feature, it's a pity if we can't use it with in vue-leaflet :)

[2018-11-20 06:30] lordfuoco commented on #195
@kesm0 yes sorry I somehow lost this issue! My bad I am on it

[2018-11-20 06:35] lordfuoco commented on #146
This should all be related to #281 everytime an erro appear on a webpacked app and not when importing from cdn (jsfiddle) is something related to issue #281

[2018-11-20 06:36] lordfuoco commented on #146
@chaogis please take a look at #281 too to solve your problem. Please make sure that if you have a lock file no multiple versions of vue-leaflet are listed

[2018-11-21 10:46] kesm0 commented on #195
Great news !
I made you an sample example on http://leaflet-test.imageau.eu/

[2018-11-21 11:50] kevcodez commented on #285
It will always produce that yarn.lock. I will try to lock the leaflet version to 1.3.1.

[2018-11-21 12:02] lordfuoco commented on #285
@kevcodez in that case it means there is a package that is declaring leaflet 1.3.4 as a dependency.
can you check which one is doing so ?

[2018-11-22 01:01] kevcodez commented on #285
Fixed it by defining this in my package.json

`"resolutions": {
    "leaflet": "1.3.1"
  },`

[2018-11-22 01:01] #285 closed

[2018-11-22 20:48] core01 commented on #146
@HIMISOCOOL Hello, I've got the same issue. I just removed leaflet dependency, and run `npm i --save vue2-leaflet`. After that all works fine. As we can see here [package.json#L27](https://github.com/KoRiGaN/Vue2Leaflet/blob/master/package.json#L27) vue2-leaflet package has own leaflet dependency, so there is no need to install it separately.
Let me know if I'm wrong.

[2018-11-24 19:05] nparley commented on #269
You can do this at the moment by just using `:options={ zoomControl: false }` on the LMap component.

[2018-11-26 08:58] #263 closed

[2018-11-26 11:41] chaogis commented on #146
Ok, thank you very much, if i find other problems, i will write to you.

chao_gis@163.com

From: Nicolò Maria Mezzopera
Date: 2018-11-20 14:35
To: KoRiGaN/Vue2Leaflet
CC: chaogis; Mention
Subject: Re: [KoRiGaN/Vue2Leaflet] Failed to execute 'appendChild' on 'Node': parameter 1 is not of type 'Node'. (#146)
Reopened #146.
—
You are receiving this because you were mentioned.
Reply to this email dire

[2018-11-26 12:17] lordfuoco commented on #195
@kesm0 So I've investigated this is a nasty one.
This steams up from how we destroy leaflet instances on components `beforeDestroy`.

I will need to implement a queue where if a component IE marker has stuff 'appended to it' say a tooltip, before destroying itself destroy all his children.

Because destroying a children ( ie calling `unbindTooltip` ) cause leaflet to expect the parent to be there.

[2018-11-26 12:45] #195 closed

[2018-11-26 12:47] lordfuoco commented on #195
@kesm0 Thanks to the new mixin strategy it was not that hard to fix this, I just pushed to npm another beta version with this issue addressed, could you five me a feedback ?
https://www.npmjs.com/package/vue2-leaflet/v/1.2.3-beta.1

[2018-11-26 13:58] kesm0 commented on #195
@lordfuoco Everything is ok for me. (I use vue cli)
Every Tooltip options works like a charm now, Good job !!
Thank you for this patch !

[2018-11-26 14:04] lordfuoco commented on #195
@kesm0 Perfect! I will let the beta sit there for a while and then push it to the stable release!

[2018-11-28 19:15] pixels-for-breakfast opened #286 "Large number of clustered markers with custom icons on canvas, reactivity and click event"
Hi,

I'm having a hard time getting the following situation working.

**Map**
At first I had about 30 items, which worked great, showing inside clusters. Now that I have a 'large' number of markers (~1500 at the moment, 5.000+ potentially), the performance dropped drastically. Because of these performance issues they are now added from script using `L.markerClusterGroup`, addTo(map), etc, no longe

[2018-11-28 22:02] lordfuoco commented on #286
Hi!

So performance problems arise when you put content inside the marker, with the latest version if the maker has no children it's not drawn in the Dom.
If for example you have popup or tooltip move them out and use an even to show them.

For icons I suggest you check the source code of vue-people where we consistently handle 2k markers each with  a custom icon.

Also pay triple attention that y

[2018-11-30 03:40] flerko opened #287 "Step of Zoom"
Hello!

How can I change step of zoom on an existing map?
As an example:
`<l-map :zoom="zoom"
           :minZoom="0"
           :maxZoom="4"
           :zoomSnap="0"
           :zoomDelta="0.25"
           :center="center"
           ref="Hall"
           :crs="crs">
<l-map>`

zoomSnap and zoomDelta doesn't work

Or:
`
mounted() {
  this.$nextTick(() => {
    let map = this.$refs.Hall.mapObject;

[2018-11-30 07:02] lordfuoco commented on #287
Hi! Which version of vue-leaflet are you using?

[2018-11-30 10:46] lordfuoco commented on #286
About fitBounds you can run that on $nextTick() and it should do the trick but I would need see some code to understand better your situation.

You can bind the click and you should not incur in any performance issue, what version of this library are you using ?

[2018-12-01 11:05] #185 closed

[2018-12-01 11:11] lordfuoco commented on #167
Closing this since new docs are just rolled out! (feedback welcomed)

[2018-12-01 11:11] #167 closed

[2018-12-03 02:33] flerko commented on #287
1.0.2

[2018-12-03 07:06] lordfuoco commented on #287
https://github.com/KoRiGaN/Vue2Leaflet/blob/master/examples/src/components/Simple.vue

You can check this example on how to use zoomSnap through the options props

[2018-12-03 10:49] flerko commented on #287
It's works for me.
So much thanks!

[2018-12-03 10:49] #287 closed

[2018-12-04 12:01] natezhengbne commented on #262
I am looking forward to the new document and new example

[2018-12-04 12:18] lordfuoco commented on #262
@BryTack @natezhengbne you can head to the new docs already! ( if you don't see them please do an hard refresh of the page )
https://korigan.github.io/Vue2Leaflet/#/

[2018-12-05 06:40] Xixi20160512 opened #291 "build error Cannot find namespace 'L'"
### Description

hello everyone
i use vue-cli@3.x & typescript template
but i got a build error
#### Steps to Reproduce
just exec`yarn build`

#### Expected Results

No error is throw
#### Actual Results

![image](https://user-images.githubusercontent.com/19320239/49494598-1de58300-f89b-11e8-962d-cc1dac7a2559.png)

[2018-12-05 07:57] lordfuoco commented on #291
@HIMISOCOOL Can you help here ?

[2018-12-05 08:13] HIMISOCOOL commented on #291
@lordfuoco Id have to install yarn and see if its reproducible that way, if @Xixi20160512 has just installed the package it should work as it is from npm cause its a dependency of this package, but it looks like you don't have @types/leaflet installed.

[2018-12-06 12:53] aukhov opened #292 "How to use leaflet-routing-machine in my vue2-leaflet maps?"
Hello.  Is the planning to develop plugin to [Leaflet Routing Machine](http://www.liedman.net/leaflet-routing-machine/) or something same routing plugin for leaflet?
And how can I use leaflet-routing-machine in my vue2-leaflet maps? How is possible to integrate these two modules?

[2018-12-06 13:49] lordfuoco commented on #292
@aukhov Hi!.

We do not mantain plugins in the core repo but feel free to create one and submit a PR to add it to the plugin list!

In the meantime you can use `Leaflet routing machine` by putting a ref on the `l-map` component and retrieving the mapObject from there.

You can then use mapObject as follow:

[code]

Please check the documentation on how to safely use mapObject here:
https://korigan

[2018-12-06 14:00] aukhov commented on #292
Thanks for feedback! mapObject works good. Waiting for new vue2-leaflet routing plugins =)

[2018-12-07 12:19] benjinne opened #293 "How to access and add polylines to multiple maps using vue2leaflet"
Hi, I asked a question on stackoverflow, but I wasn't able to use the Vue2Leaflet tag, because it required more than 1000 reputation. Here's the link: https://stackoverflow.com/questions/53662238

### Description
I'm trying to create a page containing multiple maps with polylines by using v-for. I tried to use the leaflet:load event to call a method after the map has been loaded, but the event doe

[2018-12-07 12:49] #293 closed

[2018-12-07 12:49] benjinne commented on #293
I came up with a solution on stackoverflow, here's the solution: https://stackoverflow.com/a/53669903/8233744

[2018-12-07 14:18] lordfuoco commented on #293
@benjinne why don't you use the Vue2Leaflet LPolyline component to easily draw them ? you can head to the docs and check it:
https://korigan.github.io/Vue2Leaflet/#/components/l-polyline/

Sorry I can't answer on SO, I don't have points at all there.

[2018-12-07 17:51] hubertokf opened #294 "Does LTileLayer have bounds prop?"
Actualy, leaflet have bounds prop to tile-layers. But i didnt find that on vue2leaflet.

[2018-12-07 18:09] benjinne commented on #293
@lordfuoco It would have had the same issue with referencing each polyline component inside a v-for loop

[2018-12-10 23:46] mikebronner commented on #146
I also got this error when building with webpack using Node 11.x. Reverting back to Node 10 resolved the issue. Just wanted to make a note here in case it is helpful for future development or if anyone else comes across this error and they happen to be on Node 11 (current stable at the time of writing).

[2018-12-13 14:21] drafu opened #295 "index.d.ts does not include exported member L"
While importing L from module using
`import {L} from 'vue2-leaflet';`
an error is being thrown:
`Module '"vue2-leaflet"' has no exported member 'L'.`

And we CANNOT use `import from leaflet` directly because some functions fail checks because leaflet sometimes uses `instanceof` and it is a huge app size increase.

### Versions
- Leaflet: v1.3.4
- Vue: v2.5.21
- Vue2Leaflet: v1.2.3

[2018-12-13 22:45] HIMISOCOOL commented on #295
install @types/leaflet, I am unsure why it's not in your dependency tree maybe it needs to be in a different slot in the package.json for this project.

[2018-12-14 10:53] lordfuoco commented on #295
@drafu @miyujach The reason why I did not address this is because my knowledge of TS is minimal and the reason why @HIMISOCOOL is instead answering is because he did create the TS support.
@HIMISOCOOL Could you provide a pr fix for this? or some instructions to proceed ? I would be happy to do a release afterwards.

In the meantime you can see how 'double leaflet' errors can be fixed here #281 (un

[2018-12-14 10:58] drafu commented on #295
Thank for temporary double leaflet fix. That was exactly one of the problems
Still looking for your fix as installing leaflet separately doubles the final app size.

[2018-12-14 11:01] lordfuoco commented on #295
@drafu does it still double leaflet in the final build? It should not because webpack should prune everything beside the leaflet instance in the root of your `node_module`

[2018-12-14 11:04] drafu commented on #295
@lordfuoco
It was just yesterday with latest versions of everything I could possibly get

[2018-12-14 11:13] lordfuoco commented on #295
@drafu Sorry I meant after applying the `alias` fix does it still double the size?

[2018-12-14 11:14] drafu commented on #295
@lordfuoco
Will check and reply the results today or tomorrow

[2018-12-15 07:51] HIMISOCOOL commented on #295
Hey dude, can you show me what you changed? I use this project in a solution that's in UAT right now and don't see this issue

[2018-12-15 14:17] dewey commented on #262
FYI: The link to "Examples" doesn't work from https://korigan.github.io/Vue2Leaflet/#/: https://korigan.github.io/examples/

[2018-12-15 15:15] dewey commented on #291
I just installed it via npm too and also had to manually install `@types/leaflet`.

[2018-12-16 04:35] HIMISOCOOL commented on #291
@dewey thanks for letting me know, I have this in a project and haven't needed to do this so obviously I need to check it in isolation

[2018-12-16 04:37] HIMISOCOOL commented on #295
OH @lordfuoco is this library meant to re-export the L namespace?? I just import L from leaflet and the components from here.

[2018-12-16 07:51] lordfuoco commented on #295
@HIMISOCOOL yes to try to help and mitigate the multiple leaflet references

[2018-12-16 07:52] lordfuoco commented on #262
@dewey thank you for letting me know!

[2018-12-16 08:00] HIMISOCOOL commented on #295
@lordfuoco OH you added that just after I made the types, I have a few minor changes in a local branch at work, I'll add the export on Monday. The need to install @types/leaflet is still odd to me but for now you *could* add it to the readme 'requires `npm install @types/leaflet` if using typescript'

[2018-12-16 08:08] drafu commented on #295
@HIMISOCOOL I just copied to match block from `src/main.js:29` to `types/index.d.ts:707`

![image](https://user-images.githubusercontent.com/8282894/50051417-d8d71180-0122-11e9-81c8-31954f54bf4e.png)

[2018-12-16 08:11] HIMISOCOOL commented on #295
@drafu thanks man. @lordfuoco in the future if you are gonna add new exports definitely add them to both files like above and ideally we'd make some types for the new component too

[2018-12-16 19:53] HIMISOCOOL commented on #295
Hey @drafu I made a pr #296 can you give it a check?

[2018-12-18 07:48] lordfuoco commented on #294
@hubertokf Hi! yes you are right our mixin is lacking the bound props, I will make a PR for it soon.

Sorry to answer this late I somehow missed the email / snoozed it by mistake

[2018-12-18 07:49] lordfuoco commented on #286
Closing this since it was solved through Discord

[2018-12-18 07:49] #286 closed

[2018-12-18 15:02] lordfuoco commented on #262
@dewey fixed the link, a refresh and it should work, closing this!

[2018-12-18 15:02] #262 closed

[2018-12-18 15:04] lordfuoco commented on #191
Closing due to inactivity

[2018-12-18 15:04] #191 closed

[2018-12-18 15:10] lordfuoco commented on #146
@mikebronner will try to test with node 11

[2018-12-18 15:13] lordfuoco commented on #146
@mikebronner I quickly tested with the examples and it works fine! can you post your package.json ?
Also please check if #281 workaround fixes your problem.

[2018-12-18 15:13] lordfuoco commented on #123
Closing this due to inactivity

[2018-12-18 15:13] #123 closed

[2018-12-18 15:18] lordfuoco commented on #295
@drafu @HIMISOCOOL I just published a new beta version containing #269
https://www.npmjs.com/package/vue2-leaflet/v/1.2.3-beta.9

Can you please test it ?

[2018-12-19 17:08] mikebronner opened #297 "GeoJson Performance Issues"
I'm using complex GeoJson data (state and county borders), which is turning out to be a degradation on performance. Currently I have dynamic markers that will show on the map based on a slider. This is very dynamic and fluid, with no performance issues.

However, when doing the same with large, complex Polygons and Multipolygons in GeoJson layers, performance grinds to a halt, making the web appli

[2018-12-20 07:49] lordfuoco commented on #297
@mikebronner yes its a known issue not of this library but vue in general, the point is that geoJSON are made of millions of properties, when you slam them in the reactivity system it just gives up. Put them OUTSIDE the reactivity ( out of data and computed ) and the app will go back to be fast.

[2018-12-20 18:08] mikebronner commented on #297
Agreed, I figured the same after reading this: https://github.com/vuejs/vue/issues/2000

Since then I've moved to setting up a GeoServer to handle the mapping data, which is much more effective. Thanks!

[2018-12-20 18:08] #297 closed

[2018-12-20 18:13] mikebronner opened #298 "Can WMTS endpoints be queried using LWMSTileLayer (or similar)?"
When caching  tile groups on GeoServer/GeoWebCache, the endpoint is not a WMS endpoint, but rather a WMTS endpoint (as described here toward the bottom of the page: http://www.paolocorti.net/foss4g_2017_geonode_solr/04_geowebcache.html).

It seems without that endpoint I am unable to access cached tile groups. Thanks! :)

[2018-12-21 01:04] mikebronner opened #299 "Flickering While Adding/Removing Layers"
### Description
I have a time-series set of map layers which I am rendering out like so:
[code]

The user drags a slider to their desired year, and the appropriate map layer is shown.

The problem is that each change causes the map to flicker, even for locally cached images. Is there a way this can remedied?

I'm thinking this is due to how the `visible` property behaves.

Ideally I would like to

[2018-12-24 23:08] yokane commented on #146
I found same problem. and it solved.
That cause is Leaflet's double import.

show that example, on component,
[code]

and on main.js

[code]

After remove section of leaflet is related from main,js, runs successfully.
Though it is easy mistake, I'm glad if you can use it as a reference.

[2018-12-25 00:36] wangxd77 opened #300 "undefined error in V1.2.3"
### Description

Error thrown when load the app. Errors detail is as below:
TypeError: "max2 is undefined"
	intersects webpack-internal:///./node_modules/leaflet/dist/leaflet-src.js:1053:7
	_clipPoints webpack-internal:///./node_modules/leaflet/dist/leaflet-src.js:8247:27
	_update webpack-internal:///./node_modules/leaflet/dist/leaflet-src.js:8292:3
	_reset webpack-internal:///./node_modules/leafl

[2018-12-25 17:45] idohurvitz commented on #146
hey!
i want to update my application to use vue2-leaflet and its plugins.
i read all the comments here and in issue 208 and still getting the same error,
can someone help me please?

[2018-12-25 18:53] mikebronner commented on #146
@yokane, I'm not sure if the cause for the problems we are having is the same. I am registering the components globally with Vue:

[code]

Unless `vue2-leaflet-markercluster` is also importing Leaflet, in which case there might be an issue?

[2018-12-27 09:10] flerko opened #301 "Optimization"
Hello!

I have the following problem: when the number of elements increases, the entire widget starts to lag
Do not tell me, is it possible to somehow improve the speed?

For example:
http://artist.rhinoda.com/?event=510092658

Thanks!

[2019-01-02 08:32] Xixi20160512 commented on #291
@HIMISOCOOL hi, like @dewey I had manually install **@types/leaflet** too, but I got the same error.

[2019-01-02 20:52] HIMISOCOOL commented on #291
@Xixi20160512 if you have v1.2.3 try import L from leaflet itself this works for my project, otherwise try npm install the master branch here, we have a beta version which should fix this but I have not found the time to test it.

[2019-01-02 21:18] HIMISOCOOL commented on #291
@Xixi20160512 thanks for the heads up, I have just reproduced the issue. Its odd that my project at work doesnt encounter this issue

[2019-01-02 21:20] HIMISOCOOL commented on #295
@lordfuoco the issue still persists when I clone master so its probably going to be happening on the beta version.
Ill look at it now and get back to you.

[2019-01-02 22:02] josejachuf opened #302 "Starting with vue2-leaflet"
Hi

versions:
leaflet@1.3.1
vue2-leaflet@1.2.3
vue@2.5.21

I tried to use vue2-leaflet in a project with quasar-framework [1] and the result was not good, tiles appear displaced and tiles are always missing.

I thought that it was some problem with quasar I consulted s in forum [2], but then I tried directly with vue with the same result:

https://imgur.com/k9B3ryo
https://imgur.com/9ldgOYG
The te

[2019-01-03 09:36] lordfuoco commented on #302
Hi! Did you follow the quickstart guide and imported the CSS too?

[2019-01-03 17:10] josejachuf commented on #302
Thanks @lordfuoco, As you say, the following imports were missing

[code]

[2019-01-03 21:12] mikebronner opened #304 "Adding Normal Layer After WMS Layer Does Not Increment Z-Index Correctly"
I have 4 layers, in this order:
- normal layer
- wms layer
- wms layer
- normal layer

These render out with the following z-indexes:
<img width="733" alt="screen shot 2019-01-03 at 1 08 06 pm" src="https://user-images.githubusercontent.com/1791050/50661663-a7e74100-0f58-11e9-9f4b-da4c420acac2.png">

As you can see the z-index gets reset when switching from WMS layers back to normal layers. Expect

[2019-01-03 21:22] mikebronner commented on #304
My apologies ... I feel bad about posting this. Turns out I was setting the z-index manually.... grrrr

[2019-01-03 21:22] #304 closed

[2019-01-06 04:15] jperelli commented on #281
Hi! Sorry for the delay! I removed the dependendency from vue2-leaflet-markercluster, The package is already published in npm. I'm using import { L } from Vue2Leaflet instead whenever I need it

[2019-01-06 09:38] tiangolo commented on #96
It's working properly for me, after a couple configurations:

---

For the icons not showing up when using Webpack, there's now a plug-in to solve it at the Leaflet level: https://github.com/ghybs/leaflet-defaulticon-compatibility

My `main.ts` looks now like:

[code]

---

I'm using Vuetify. And I was having a gray area under the map, but I wasn't setting the `zoom` (my error). After setting a zo

[2019-01-06 09:40] tiangolo commented on #28
There's now a plug-in, at the Leaflet level, to solve this: https://github.com/ghybs/leaflet-defaulticon-compatibility.

It's working well for me. And I'm also using Vue2Leaflet.

Maybe it's worth adding it to the docs?

[2019-01-06 17:08] robertjoellewis commented on #79
Does this (this.$refs.map.mapObject) still work with the new version of leaflet? I can't seem to get it to work although I got it to work with an older verion (0.0.51)? Thanks!

I am trying to access the "move" event with the new vue2-leaflet so I can get the center rapidly updated.

[2019-01-07 07:47] lordfuoco commented on #302
Closing as is resolved

[2019-01-07 07:47] #302 closed

[2019-01-07 07:49] lordfuoco commented on #301
@flerko Can you please share your code on a codepen ? definitively is possible to achieve good speed with a lot of pins

[2019-01-07 07:50] lordfuoco commented on #300
@wangxd77 do you use other vue2-leaflet plugins ? If so please refer to #281 while we are working on the 2.0 of  vue2-leaflet that will solve this issue for good

[2019-01-07 07:52] lordfuoco commented on #299
@mikebronner sorry for the late reply I was on Christmas break :) why don't you use the layer control? did you try this already ?

[2019-01-07 07:56] lordfuoco commented on #281
@jperelli Thank you very much! I am in the process or building up 2.0.0 as a major change were leaflet is a peerDependency, I will try to submit a PR for your plugin to address the Leaflet import :)

[2019-01-07 07:58] lordfuoco commented on #298
@mikebronner Will take a look !

[2019-01-07 08:01] lordfuoco commented on #294
@hubertokf I did not forget about this! I was on a much needed Christmas break, I am on it!

[2019-01-07 08:45] wangxd77 commented on #300
I don't use other plugins, this error arises when I draw the polyline. Thank you.

[2019-01-07 08:57] lordfuoco commented on #300
@wangxd77 are you importing leaflet on your own or using import `{ L } from 'vue2-leaflet' `?  anyhow please try to add the webpack alias fix mentioned in #281

[2019-01-07 11:46] josejachuf opened #306 "About base and overlay layers"
I have two layers of google as base layers:

[code]

and other overlay layers:

[code]

In firefox they are shown correctly [1], but in chrome, **the base layers are above the overlay layers** [2]

Jose

[1] https://ibb.co/vYvLs55
[2] https://ibb.co/qd8Ft5d

### Browsers Affected

- [ X ] Chrome
- [ X ] Firefox
- [ ] Edge
- [ ] Safari 9
- [ ] Safari 8
- [ ] IE 11

### Versions
- Leaflet: v1.3.1
-

[2019-01-07 14:45] josejachuf commented on #306
The behavior is strange, in firefox there are times when it shows up well and in others it does not (the base layers are on top of the ovelay layers). This is after restarting my notebook, without any change in the code

https://ibb.co/GxCnBP8

[2019-01-07 15:11] jperelli commented on #281
ok @lordfuoco! let me know of any help you need. We are working with @marcosfede on upgrading https://github.com/cualbondi/web-buscador to be able to use leaflet's esm (tree shaking) to reduce the size of the bundle.

[2019-01-07 15:21] lordfuoco commented on #281
@jperelli the idea of this 2.0.0 is exactly to enable tree-shaking, where every vue2-leaflet component import only is own counterpart in leaflet

[2019-01-07 19:06] mikebronner commented on #299
Hi @lordfuoco, thanks for the suggestion. Could you point me to some examples? Are you suggesting that the layer control will work better than the WMS Tile Layer control?

[2019-01-07 21:35] scramatte commented on #261
Hi,

I need support for EPSG25830. Any idea of how can I achieve this?
Thank you

Regards

[2019-01-08 02:15] wangxd77 commented on #300
I try to add the webpack alias, but there is errors as below
These dependencies were not found:
* leaflet in ./node_modules/vue2-leaflet/dist/vue2-leaflet.min.js

I import leaflet using   import L from 'leaflet'
The code arise error is as below:
<template>
  <section>
    <l-polyline :latLngs="polyline['24'].latlngs" color="yellow" :weight="1" :opacity="1"></l-polyline>
    <l-polyline :latLngs="p

[2019-01-08 06:44] AnilKumaRLotla opened #307 "vue-leaflet not working example"
<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm20.aspx.cs" Inherits="LeafletwithSVGSetColor.WebForm20" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>

[2019-01-08 06:48] lordfuoco commented on #307
Hi! could you please tell us what version of vue2-leaflet are you using and where did you took up this example ?

[2019-01-08 06:48] lordfuoco commented on #306
Hi! I will try to take a look at this :)

[2019-01-08 06:52] AnilKumaRLotla opened #308 "any one suggest me how to inject vue component inside leaflet(instead of innerHtml i want to inject vue componet)"
L.DomEvent.disableClickPropagation(this._div);

                var controlHeader = '<div class="my-control-header">' +
                    '<label>...</label>' +
                    '</div>';
                this._div.innerHTML = ****controlHeader + '<div>' + [...some stuff made with _data...] + '</div>';****

[2019-01-08 07:56] lordfuoco commented on #299
@mikebronner Yeah take a look here:  https://korigan.github.io/Vue2Leaflet/#/components/l-control-layers/ ( any feedback on the docs is appreciated )

[2019-01-08 07:57] lordfuoco commented on #308
Hi, where are you trying to inject this? is it a control ? in that case please see this part of the docs:

https://korigan.github.io/Vue2Leaflet/#/components/l-control/

[2019-01-08 08:34] AnilKumaRLotla commented on #307
Hi Good Day,

Thanks for responding, i have taken example from this link
https://jsfiddle.net/Boumi/k04zpLx9/

On Tue, Jan 8, 2019 at 2:48 PM Nicolò Maria Mezzopera <
notifications@github.com> wrote:

[2019-01-08 08:49] AnilKumaRLotla commented on #308
Hi good Day,

Please find the attachment FYI.  I create vue component out side the
map(vue component name:  <record-overview></record-overview>).

i am unable to inject the component inside leaflet map using DomUtil. if i
using direct html instead of component its working. but i want to inject
vue-component.
can you please suggest me to resolve the issue.  Thanks.

                this._div = L.Do

[2019-01-08 12:12] josejachuf commented on #306
Thanks @lordfuoco . The complete code is:
[code]

[2019-01-08 21:27] wishinghand opened #309 "Binding a class to LMap makes custom classes disappear"
### Description
No error thrown, but when adding a class via Vue's class bindings to LMap, the map loses a bunch of classes. In my case it makes the tiles white. In the provided demo it doesn't do that exactly, but when inspected, the map is missing a bunch of `leaflet-` prefixed CSS classes after the toggle has been clicked.

#### Live Demo
https://jsfiddle.net/wishinghand/5noybxh2/10/

#### Step

[2019-01-09 07:06] AnilKumaRLotla opened #310 "how to create Custom full screen buttons for Leaflet"
can any one suggest me how to create Custom full screen using button for Leaflet
(Button navigate out side Leaflet Map).
Thanks.

[2019-01-09 10:31] moas opened #311 "How to stream point on map"
Hi
I load up a lot of points via API (with data pagination) and I want to stream them in the map. What is the best way to do this ?

thx.

[2019-01-09 12:41] drafu commented on #307
Given example works perfectly for me

Here is a screenshot
![image](https://user-images.githubusercontent.com/8282894/50900064-0151e300-1425-11e9-9921-0efe50759ee8.png)

[2019-01-09 16:07] wishinghand commented on #309
I've figured out a fix that works for me. Instead of binding the class on `LMap.vue`, I bind it on the parent `div`. In the CSS I then select .`.vue2leaflet-map` that's within `.edit-cursor`. This seems to solve all issues. I'm leaving this open due to my belief that binding to `LMap` shouldn't erase a bunch of CSS classes on it.

[2019-01-09 16:22] r3j3c73d commented on #96
Hi, I was done all stuff that guys said on top, but when I want to use lmap component in v-card of vuetify it disappears. What should i do to fix this? any suggestion?

[2019-01-10 09:43] lordfuoco commented on #281
@bytesnz yeas I am in the process to do so, but with `leaflet: "^1.3.4"`

[2019-01-10 10:42] bytesnz commented on #281
That will mean it will be able to have peer version of 1.3.2, which you wanted to avoid (https://github.com/KoRiGaN/Vue2Leaflet/issues/281#issuecomment-437692435), didn't you?

[2019-01-10 11:59] lordfuoco commented on #281
@bytesnz according to documentation ^1.3.4 should skip 1.3.2 :

^1.2.3 := >=1.2.3 <2.0.0

[2019-01-11 18:20] hubertokf commented on #294
Thank you very much @lordfuoco!

[2019-01-13 02:17] volkerjaenisch opened #314 "Popup throws error Uncaught TypeError: Failed to execute 'appendChild' on 'Node': parameter 1 is not of type 'Node'."
I found a similiar behavior in

[https://github.com/KoRiGaN/Vue2Leaflet/issues/146]()

but the solutions proposed there does not help. I am sure it is a simple stupid error I do - the problem is to find it.

#### Steps to Reproduce
Fresh vue-cli3 project

Helloworld.vue:
[code]

#### Expected Results

The popup should appear

#### Actual Results
The popup does not appear and the following trace re

[2019-01-13 21:51] imShara opened #315 "Do not use minified version as main"
Because webpack puts sourcemap path in output build of vendors.app.js and browser tries to find it at relative paths.
Problem could be reproduced with nuxt and nuxt-leaflet module which uses vue2leaflet.

Look how it properly made in [vue-mq](https://github.com/AlexandreBonaventure/vue-mq/blob/master/package.json).

[2019-01-14 02:47] josegus opened #316 "Error in the docs"
### Description

I'm building an app with Quasar Framework. Following the quick start is ok, but maybe the doc is not clear. My code is:

![image](https://user-images.githubusercontent.com/13947849/51094619-fbd9fd00-1784-11e9-9521-27f4a43c920e.png)

So i have to remote the "_" at the begining. Hope this could help someone.

[2019-01-14 07:48] lordfuoco commented on #315
@imShara webpack uses the module entry as far as I know, I have no problem with my personal nuxt + leaflet instances at all. but in the upcoming 2.0.0 I will put the unminified verision in the main

[2019-01-14 09:10] imShara commented on #315
Don't you have same warning in nuxt dev mode?
![679355665-pejqtutaajjzlzlhidrzpfqrsvatseee](https://user-images.githubusercontent.com/4913196/51103712-d389e700-17f4-11e9-9706-311c264cad1b.png)

Let's look at `http://192.168.43.200:3000/_nuxt/vendors.app.js`

[code]

[2019-01-14 10:32] imShara commented on #315
I'm using [nuxt-leaflet](https://github.com/schlunsen/nuxt-leaflet) which uses `"vue2-leaflet": "1.0.2"`.

Importing via

[code]

I'm digging it, there is much modern version of vue2leaflet, but not in npm. I will try to update it manually, thanks

[2019-01-14 10:53] lordfuoco commented on #315
@imShara it's the beta version:
https://www.npmjs.com/package/vue2-leaflet

[2019-01-14 14:48] volkerjaenisch commented on #314
Thank you very much!
The problem was indeed that I installed vue2-leaflet and leaflet as well.
Cheers,
Volker

[2019-01-14 14:48] #314 closed

[2019-01-15 02:41] josejachuf commented on #306
Hi @lordfuoco, I solved by changing the order in which the layers are defined within the map. First the base and then the ovelays

[2019-01-15 06:30] lordfuoco commented on #306
Hi! Glad that is solved, and sorry that I did not managed to help

[2019-01-15 06:30] #306 closed

[2019-01-15 14:23] bytesnz commented on #281
Ah yes. Is there any reason not to allow <1.3.2 though?

[2019-01-16 21:02] mikebronner opened #317 "Can WebGL Earth be easily integrated?"
I noticed on this page (http://examples.webglearth.com) that WebGL Earth is a drop-in for leaflet. Has anyone experimenting using it with Vue2Leaflet, or does this require a separate component be created for this package? I would love to play with this, and might be able to contribute in the future, if additional work is required.

Thanks!

[2019-01-16 21:10] bytesnz commented on #281
Only that version is bugged though correct? So using less than 1.3.2 should be fine as well?

[2019-01-17 06:49] lordfuoco commented on #281
@bytesnz correct but we want 1.3.4 because it allow us to implement code splitting

[2019-01-18 13:03] kaboume commented on #146
Hi,
I have the same pb.
I'm using Nuxt

My nuxt.config file :
` plugins: [
    { src: "~/plugins/leaflet.js", ssr: false },
  ],`

My plugins/leaflet.js file :
[code]

And my component

`<div id="map-wrap" style="height: 500px; width:100%">
    <no-ssr>
      <l-map :zoom="10" :center="positionInitiale">
        <l-tile-layer url="http://{s}.tile.osm.org/{z}/{x}/{y}.png"></l-tile-layer>
        <l

[2019-01-18 13:35] lordfuoco commented on #146
To everyone please check the workaround with the alias in the meantime I finish the 2.0
#281  check the end of the issue

[2019-01-19 15:05] javiertury opened #319 "Installing a from github does not work"
### Description

When this repo is cloned and installed into a dummy project using `npm install /path/my-local-repo/vue2-leaflet`, it is not properly installed. The files `dist/vue2-leaflet.common.js` and `dist/vue2-leaflet.umd.min.js` will be missing and the module `vue2-leaflet` will not be found.

For instance, some devs may want to test changes is a dummy project before submitting a pull reque

[2019-01-19 18:40] #319 closed

[2019-01-20 17:12] vomnes opened #322 "Crash: LCircle Component"
### Description
I can't use the component LCircle because there are a crash (error in browser console) all the time.
I'm using exactly the same code which is in the this repository [Vue2Leaflet
 Code Example](https://github.com/KoRiGaN/Vue2Leaflet/blob/cd85b6415133ceb5b261110377f81a7952e3a303/examples/src/components/GeometryTest.vue)

Someone know what can be the problem ? Because this code is rea

[2019-01-20 19:30] lordfuoco commented on #322
Hi this is related to #280 please check the workaround till 2.0 is released

[2019-01-21 07:34] lordfuoco commented on #274
@alexbainbridge yes it should be fixed as I see the events emitted on the vue panel, are you using .sync modifier ? Before there were side effects that are not nice

[2019-01-21 09:52] bezany commented on #317
@mikebronner Look like `WebGL Earth` library not simple `leaflet` plugin. It is separate project. You do not need `leaflet` or `Vue2Leaflet` for this.

[2019-01-21 10:39] alexbainbridge commented on #274
@lordfuoco Hi !
Yeah - using sync - it is changing, but not to the last dragged position. i.e. I drag a marker and the lat lng is set to a point during the drag rather than final position.

Its the debounce that is the problem
https://github.com/alexbainbridge/Vue2Leaflet/commit/260a92900c0f188b3d49000409c198a2407004b9
I removed it and the last updated position is OK.

Thinking outloud - would thr

[2019-01-21 10:41] lordfuoco commented on #274
@alexbainbridge Oh so is an error of the debounce function that I wrote, because it should be sent out with the latest value and not others!
The debounce is needed because leaflet has a different precision and may trigger infinite loops, I will try to fix the error in the debounce fn!

Thanks for the headsup

[2019-01-21 14:35] josejachuf opened #324 "Height in percentage"
Hi all,
When fixed height in **px** works fine, but when I do it in **%** the map disappear

[code]

In the examples I see that it uses **%** [1]

Jose

[1] https://korigan.github.io/Vue2Leaflet/#/components/l-map/

### Browsers Affected

- [X] Chrome
- [X] Firefox
- [ ] Edge
- [ ] Safari 9
- [ ] Safari 8
- [ ] IE 11

### Versions
- Leaflet: v1.3.1
- Vue: v2.5.17
- Vue2Leaflet: v1.2.3

[2019-01-21 14:37] josejachuf commented on #324
Sorry, I mean the height inside **l-map**

[2019-01-21 15:22] alexbainbridge commented on #274
Sounds like you have this - but do you want me to open an issue? Or you reopen this one?

Thanks!

[2019-01-21 16:47] lordfuoco commented on #324
@josejachuf in the example it works because the container of the example has a fixed height.
What I do is to usually use vh /vw to achieve the same as with %

[2019-01-21 16:49] lordfuoco commented on #274
@alexbainbridge we are not issue shy! Go on open it please, because I am swamped and I could forget if there is not an issue open :) thank you very much.

For the future, just go on and open an issue if you think there is a bug / mismatch / misalignment.

[2019-01-21 17:44] josejachuf commented on #324
Thanks @lordfuoco , this work fine
Jose

[2019-01-21 17:44] #324 closed

[2019-01-21 20:26] alexbainbridge opened #325 "Reactive marker - debounce not sending last lat lng"
#### Steps to Reproduce
As per #274 - however this is a new issue as a new problem

The debounce function is not sending the LAST lat lng for a dragged marker (but is dragging OK and sending back data every 100 ms as configured).

If you remove the debounce function, all works as expected and the last position is correctly set.

#### Expected Results
The very last position should be sent back from

[2019-01-22 11:31] KarmaCop213 commented on #196
This doesn't work.

Link doesn't have anything related with refs.

this.$refs is always empty when I put it on my l-marker or l-popup. I'm trying to access the ref inside mounted hook and when @leaflet:load is triggered. Always empty on both.

[2019-01-22 11:33] bezany commented on #307
@AnilKumaRLotla I create simple example of usage vue2-leaflet in ASP.NET MVC (Razor syntax) https://dotnetfiddle.net/8yNFeZ
You can translate this example to your WebForms project.

[2019-01-22 14:48] AnilKumaRLotla commented on #307
Thanks to sharing your valuable time for me.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Tue, Jan 22, 2019 at 7:33 PM bezany <notifications@github.com> w

[2019-01-23 03:31] HoPGoldy opened #326 "How to add eari-leaflets plug in vue2-leaflet?"
**Leaflet has been used** in my project, and there are some reasons Make me need to **add vue2-leaflet** dependencies. But when I added it, I found that some errors had been returned

`TypeError: Cannot read property 'tiledMapLayer' of undefined`

It is called here

[code]
so , does uses the leaflet plugin before using vue2-leaflet cause this problem ? If it is , is there any "official" way  to in

[2019-01-23 11:07] bezany commented on #326
@HoPGoldy Hello!
**About error**
Before `L.esri.tiledMapLayer ...` check output
[code]
I think possible root of problem in import order of `L` from `leaflet`.
**About integrate L.esri.tiledMapLayer**
I create [simple example](https://jsfiddle.net/bezanyu/hw49p5yL/)
For correct integrate layer with `LControlLayers` component I used [`addLayer` method in `LMap`](https://github.com/KoRiGaN/Vue2Leafle

[2019-01-23 12:50] lordfuoco commented on #326
@bezany Thank you for the good answer, @HoPGoldy  feel free to submit a PR with a new component :)

[2019-01-23 12:55] bezany commented on #196
@KarmaCop213 Check that you set `ref='marker'` attribute in template on `l-marker`. And check that `this.$refs` contains `marker` key. See [example](https://jsfiddle.net/bezanyu/yp0sbf3w/)

[2019-01-23 14:22] KarmaCop213 commented on #196
Thanks you for your quick reply.
I went with a different approach using the @add: [example](https://jsfiddle.net/KarmaCop213/wqjdcsx1/2/)
Not sure if this is acceptable too...

[2019-01-23 14:32] lordfuoco commented on #196
@KarmaCop213 I think your solution is good as well

[2019-01-23 14:38] javiertury opened #328 "Workaround for setZoom/setView/panTo bug"
Leaflet has a [bug](https://github.com/Leaflet/Leaflet/issues/2915) triggered when `setZoom` is followed by `setView`. `setView` can not execute correctly until the previous zoom animation has completed.

This is important to Vue2Leaflet since it uses `setZoom` to sync `zoom` and uses `panTo`(which calls `setView`) to sync `center`. See this [codepen](https://codepen.io/anon/pen/bzNPpz), click in

[2019-01-24 02:05] HoPGoldy commented on #326
@bezany Thank you for your reply!

Adding `console.log(L.esri)` is invalid because it is still unrecognizable.

![image](https://user-images.githubusercontent.com/28479777/51649335-fc616780-1fbe-11e9-8b54-407b24415f87.png)

I also think this is the problem caused by the load order , the `L` of the `vue2-leaflet` overrides the `L` of the native `leaflet`.

Here is a solution , not elegant but worki

[2019-01-24 06:45] lordfuoco commented on #326
Have you tried to not load leaflet from leaflet but only from Vue2Leaflet?

[2019-01-24 06:51] HoPGoldy commented on #326
I can't, there are already a lot of native leaflet code in the project, I need to ensure compatibility.

[2019-01-24 08:04] lordfuoco commented on #328
@javiertury I think this is a good idea! Thank you for reporting it. @javiertury are you on VueLand discord? If so can you shot me a message ? (DonNico)

[2019-01-24 08:04] lordfuoco commented on #326
@HoPGoldy I see, so stay tuned for 2.0 and this branch #323

[2019-01-24 21:23] javiertury commented on #328
I'm not on discord, sorry

[2019-01-25 14:41] vomnes commented on #322
Ok, I understand that the problem is that there are a mismatch between the Leaflet versions and so two different Leaflet instances but I don't understand how to fix it on my project.

LCircle component is a simple component. Why this component in not working on my project but is working on the other Vue2Leaflet users ?

Do you have any other informations that could help me to fix this problem ?

[2019-01-25 17:17] lordfuoco commented on #322
@vomnes  as I wrote in #281 ( sorry if is not clear there)
You just need to add an alias to webpack ( if you are using it) like so:
[code]

[2019-01-27 01:05] mikebronner commented on #317
Thanks @bezany -- I haven't had time to play with it ... I was kind of hoping it wasn't a separate project, so that I could use what I have already built in Vue with it. Might have to create wrapper components for it in Vue to get around it.

[2019-01-27 01:05] #317 closed

[2019-01-28 21:00] billyhunt opened #330 "Cannot modify layer order."
### Description

When reordering Leaflet layers, they are not reordered on the map.  (first on top)

#### Live Demo
http://jsfiddle.net/billyhunt/yjpmLre6/32/

#### Steps to Reproduce
I would like to be able to reorder the layers when I reorder the underlying array containing the layers.

#### Expected Results
Layers change ordering on map.

#### Actual Results
Layers stay in given order.

### Bro

[2019-01-29 17:10] hubertokf commented on #170
Well I don't have setView on may map object reference :(

[2019-01-29 17:41] hubertokf commented on #294
@lordfuoco I understand that you are busy with your work. I want to contribute with the project, but I need a tip where to code. If you could show me, I will try to fix that! :smile:

[2019-01-29 18:43] lordfuoco commented on #294
Hi! You can start by investingating the code I l-tile-layer and tileLayer mixin!
And thank you

[2019-01-30 16:48] carban commented on #292
Hello, I'm tying to work with vue2-leaflet and leaflet-routing-machine in my vue project, everything works well but when I refresh the page it returns me a blank page and in the Debugger of the web browser appears the error:
L.Routing = L.Routing || {};
I don't know what to do, it's confuse because on running time it works

I import the module on the script tag
`import Routing from 'leaflet-routin

[2019-02-01 20:42] jlpereira opened #331 "No toolbar for draw?"
Hi guys,

Im trying to add a toolbar to draw geometric figures like this example using the native leaflet library:
http://leaflet.github.io/Leaflet.draw/docs/examples/full.html

But I didnt found nothing to get it work with vue2-leaflet.

This is possible to do with this lib?

Thanks!

[2019-02-03 14:58] JimmyBastos commented on #291
Any update on this? I'm using the very same setup of @Xixi20160512. I also installed `@types/leaflet`, but the error persists.

[2019-02-03 20:55] HIMISOCOOL commented on #291
@JimmyBastos yep thats the quickest way to fix it. the code in master should not have the issue.

[2019-02-05 19:39] novaknole opened #332 "does this plugin provide route mapping feature?"
Basically, I'm just asking a question. so That's why I deleted the schema skeleton of how a question should be added depending on your rules. Sorry for that.

I need the following feature. When user types initial and final address, I need to draw a line which connects these two points on the map via the red line for example. Does this plugin provide this feature or is there anything vue-related pl

[2019-02-06 07:58] lordfuoco commented on #332
@novaknole if you would be using only vue2-leaflet you should use reverse geocoding to get the lat and lon of the two points. then you could have a polyline made with those.

Maybe take a look at this: http://www.liedman.net/leaflet-routing-machine/

There is still no vue2-leaflet-routing-machine wrapper tho. Feel free to create one!

[2019-02-07 09:16] lordfuoco commented on #331
@jlpereira well there is no module to integrate that, feel free to create one! in the meantime you can still use the leaflet code in pure JS. do you need help with that?

[2019-02-07 09:20] lordfuoco commented on #330
@billyhunt Sadly I could not find any methods to do so in leaflet. ( if I overlooked a way please point it out ) At the moment I think the official way would be with a control layer possibly by adding a ref to it, hiding it from the map via CSS and then use the ref to target this function: `sortFunction` https://leafletjs.com/reference-1.4.0.html#control-layers-sortfunction

[2019-02-07 09:24] Georift commented on #328
In my use case I would like to disable panning when the center variable is changed. I looked for an option in either leaflet or vue-leaflet and couldn't find anything. Would you be open to me implementing the proposed `:animate="isAnimated"` solution to this bug? It will solve my problem perfectly.

[2019-02-07 09:43] lordfuoco commented on #328
@Georift yes I am up to it, I am waiting for a stable 2.0 to proceed with other fixes / features

[2019-02-07 13:43] vomnes commented on #322
Yes, I have already tried that but still doesn't work.

So, for my case I have built somethings using LMarker with svg and size (depending on the meters per pixel). On zoom change, I update the size of the Radius marker.

This is the code:
[code]

[2019-02-07 14:15] lordfuoco commented on #322
@vomnes alternatively you can check the 2.0 beta that I just released on npm

[2019-02-07 17:41] jlpereira commented on #331
Thanks for the answer, @lordfuoco . Im okay to use the leaflet library. I think we gonna move from vue-leaflet to leaflet in our project.

Thanks again!

[2019-02-08 08:07] pumano opened #333 "Realtime data update with GeoJSON"
### Description
I have simple code:

[code]
I got data from websocket and want to update data points inside my map, but looks like it only add points if geojson property is updated with new data (that cause memory leak).
How to properly implement removing all circle points (I have around 3-4K points) and then load new points via `<v-geo-json>`?
I try to use `this.$refs.geojsonelem.clearLayers()`,

[2019-02-08 14:23] lordfuoco commented on #333
Hi! you can access leaflet api via: mapObject => https://korigan.github.io/Vue2Leaflet/#/quickstart?id=accessing-leaflet-api

[2019-02-10 21:55] nrmncr opened #334 "camelCase event name in LMarker"
Hi!

LMarker component emit event with name 'update:latLng', but according to vue2 documentation ([vue2 event names](https://vuejs.org/v2/guide/components-custom-events.html#Event-Names)) names must be in kebab-case ('update:lat-lng')

vue2-leaflet v1.2.3

[2019-02-11 05:56] bezany commented on #333
@pumano Under hood LGeoJSon use `clearLayers` function, [see here](https://github.com/KoRiGaN/Vue2Leaflet/blob/master/src/components/LGeoJson.vue#L48)
In case when all points change position you can simple replace old geojson object for new.
If you want update some part of exists GeoJSON then [see approach here](https://stackoverflow.com/a/34504270/7884337)
Also see [leaflet-realtime](https://gith

[2019-02-11 07:49] lordfuoco commented on #334
@nrmncr thank you nice catch! I will add it to the work to be done :)

[2019-02-11 13:21] chistov commented on #331
@jlpereira , You can use hack or kind of.
1) npm i leaflet-draw -S (install draw library to your project).
2) Then code similar to this:

[code]

So, 'vue2-leaflet' is only wrapper, but original Leaflet still accessible through window.L.

[2019-02-11 16:02] jlpereira commented on #331
Thank you so much for your contribution @chistov but we already moved to the native leaflet library and we already have in working there, we only needed to use geojson and the draw view, so not really reason to use vue2-leaflet. But your contribution is great for other persons that need it on vue.

Thanks again!!

[2019-02-12 02:05] josejachuf opened #335 "layers definition from webservice (1/2 offtopic)"
Sorry for the offtopic, but since there is no discussion list I consult it here

I have some base layers and I am trying to load some overlays layers with the parameters read from a webservice (localidades) with axios. I make the call from the created () method.

The problem is that the call is asynchronous and it happens that when the layers are loaded in l-map component, the call has not ended y

[2019-02-12 08:59] bezany commented on #335
@josejachuf Hello! May be simple add check `v-if='localidad'` in you overlays layers template.

[2019-02-15 15:32] pumano commented on #333
@bezany thanks for this. I got it! But don't figure out, why memory leak happens with huge amount of objects (I have 5-6K points) realtime.

[2019-02-16 00:59] josejachuf commented on #335
Hi.@bezany Thanks for the reply.
The error was commenting on a computed property which returns the array of layers

[2019-02-16 00:59] #335 closed

[2019-02-16 23:48] waleedshkt commented on #96
I was experiencing the same issue of leaflet tile not fully loading on the map.
After going through various solutions and hacks suggested above., I finally managed to solve the issue by calling: `this.$refs.map.mapObject.invalideSize()` inside `mounted` lifecycle hook.
Plus I set a hard-coded height and width of the map's parent container `<div>`.
And lastly, added the following code inside `main.

[2019-02-16 23:51] waleedshkt commented on #96
I was experiencing the same issue of leaflet tile not fully loading on the map.
After going through various solutions and hacks suggested above., I finally managed to solve the issue by calling: `this.$refs.map.mapObject.invalidateSize()` inside `mounted` lifecycle hook.
Plus I set a hard-coded height and width of the map's parent container `<div>`.
And lastly, added the following code inside `mai

[2019-02-16 23:52] waleedshkt commented on #96
I was experiencing the same issue of leaflet tile not fully loading on the map.
After going through various solutions and hacks suggested above., I finally managed to solve the issue by calling: `this.$refs.map.mapObject.invalideSize()` inside `mounted` lifecycle hook.
Plus I set a hard-coded height and width of the map's parent container `<div>`.
And lastly, added the following code inside `main.

[2019-02-17 01:27] waleedshkt commented on #96
I was experiencing the same issue of leaflet tile not fully loading on the map.
After going through various solutions and hacks suggested above., I finally managed to solve the issue by calling: `this.$refs.map.mapObject.invalidateSize()` inside `mounted` lifecycle hook.
Plus I set a hard-coded height and width of the map's parent container `<div>`.
And lastly, added the following code inside `mai

[2019-02-18 13:20] pumano commented on #333
Looks like `vuetified` version of leaflet can't update properly data. Pure leaflet give me something to non-leakable solution with realtime updates for 6k data points per sec.

[2019-02-18 13:35] lordfuoco commented on #333
@pumano could you help us to fix this by giving us a sample data set ? and possibly (part) your code?

[2019-02-18 14:17] pumano commented on #333
@lordfuoco I prepare demo: https://stackblitz.com/edit/typescript-leaflet-loadtest-5k-markers
You can check it

[2019-02-18 14:50] lordfuoco commented on #333
@pumano thank you, I will take a look

[2019-02-18 15:40] pumano commented on #333
@lordfuoco https://stackblitz.com/edit/typescript-vuejs-leaflet-5k-load-test - it's closest vue example with memory leak

[2019-02-18 17:39] zimmicz commented on #212
@moas @lordfuoco hey guys, could you share a sample code? I'm trying to set a class to LMarker/LIcon to no avail for a while. I'll appreciate your help.

[2019-02-18 20:24] ciolt commented on #281
Finally! I was getting a frustrating error whenever I tried to add polylines dynamically.

This workaround fixed it, @lordfuoco could this be added to the docs as a special note? I think it'd help save a lot of people (like me) time with debugging

[2019-02-18 20:40] lordfuoco commented on #281
@ciolt a PR would help :) I am bit swamped with work and behind here

[2019-02-19 06:34] bezany commented on #333
@pumano Very interesting case. I found some difference in `pure-leafelt` version and `vue2-leaflet` version. Compare functions `setMarkers` and `generator`. In `pure-leaflet` version function `setMarkers` call `new L.CircleMarker` only on first call. Another calls do not re-create markers, only change positions with `setLatLng`.
In `vue2-leafelt` version markers array replaced every interval tick

[2019-02-19 06:35] chaogis commented on #144
Did you solve the problem? I met the problem today, version of vue2-leaflet is 1.2.3-beta.9 and i import L from 'vue2-leafelt', which export it out.
![image](https://user-images.githubusercontent.com/32628057/52994740-86341180-3453-11e9-9bce-5352eeae17ec.png)

Hope you answer, thank you. @ikmolbo @KoRiGaN

[2019-02-19 08:24] lordfuoco commented on #333
@bezany you are my MVP :) i have some ideas on how to implement all of this. but I need a 2.0 stable and out. and finish the docs for it.
I did not receive much testing feedback and I am a bit afraid to push it out as it is!
Thanks to you and @pumano

[2019-02-19 08:25] lordfuoco commented on #144
@chaogis check #281  and this line of the faq: https://korigan.github.io/Vue2Leaflet/#/faq/?id=why-am-i-getting-weird-errors-for-things-that-work-fine-in-the-demos

[2019-02-19 08:25] bezany commented on #153
@KoRiGaN @lordfuoco
May be planning refactor for use `provide/inject` with mapObject instead `findRealParent`? Also possible override injected values (need for LLayerGroup). But it is not mentioned in the documentation.
See this example:
https://jsfiddle.net/bezanyu/1Lwgun4a/

[2019-02-19 08:37] lordfuoco commented on #153
@bezany yes I am working on another project and using provide inject extensively there. I am planning to do the same here too

[2019-02-21 14:47] dpiquet opened #341 "Documentation playgrounds broken"
Hi, it seems the documentation playgrounds are broken: https://korigan.github.io/Vue2Leaflet/#/components/l-circle/

It see that a script is not loading (404 error)

[2019-02-21 15:00] DonNicoJs commented on #341
@dpiquet Hi thank you! I will check it

[2019-02-23 12:35] kirvt commented on #331
@chistov
Thank you for example. It is the only one can be found on Internet. But unfortunetly this not works for me. Your mounted hook not added drawControl to the map. Could you please show full working example.

[2019-02-24 07:13] chistov commented on #331
@kirvt
Could you please show me with code what do you mean? Because from my code above you can see how control(or drawControl in my case) added to the map. Like so:

[code]

[2019-02-24 11:17] kirvt commented on #331
@chistov
`    import { LMap, LTileLayer } from 'vue2-leaflet';
    import 'leaflet/dist/leaflet.css';
    import 'leaflet-draw';

    export default {
        components: {
            LMap,
            LTileLayer
        },
        data() {
            return {
                zoom: 13,
                maxZoom: 22,
                center: L.latLng(53.348767, 83.745534),
                url: '---}

[2019-02-25 03:56] nuhamind2 commented on #308
Just trying to answer.

[vm.$el](https://vuejs.org/v2/api/#vm-el) is probably what you're looking

[2019-02-25 07:55] chistov commented on #331
It seems like you have to add ref="map" to you html template. Example here:

[code]

[2019-02-25 09:05] DonNicoJs commented on #341
@dpiquet Thank you, fixed now. It may need an hard refresh due to github pages cache

[2019-02-25 09:30] nuhamind2 commented on #341
Seem grid layer not working in the example
[https://korigan.github.io/Vue2Leaflet/#/components/l-grid-layer/](https://korigan.github.io/Vue2Leaflet/#/components/l-grid-layer/)

[2019-02-25 10:41] DonNicoJs commented on #341
@nuhamind2 yes you are right. that component is on the beta version of 1.2.3. Apologies for all this problems, but I will release 2.0 this week and we can finally have a stable doc linked to a stable code.

Apologies again

[2019-02-25 12:27] DonNicoJs commented on #325
This should be resolved in the latest 2.0.0-beta.1.
Could you check it?

[2019-02-25 12:28] DonNicoJs commented on #322
@vomnes can we consider this closed does the beta version works for you ?

[2019-02-25 12:36] DonNicoJs commented on #309
@wishinghand Sorry for not answering here, this is due to the fact that we bind the leaflet map directly in the component `$el`
now this is not ideal, but to change this we would need to bind it inside another element inside the component which could be a breaking issue.

I am not sure how to proceed here, what do you think ? Either way I want to update the docs to specify this quirk.

[2019-02-25 12:37] DonNicoJs commented on #307
Closing this due to inactivity / issue resolved

[2019-02-25 12:37] #307 closed

[2019-02-25 12:38] DonNicoJs commented on #300
@wangxd77 is this issue still open for you ?

[2019-02-26 00:48] #300 closed

[2019-02-26 00:49] wangxd77 commented on #300
It has been resolved.

[2019-02-26 10:31] kirvt commented on #331
@chistov
ref was given initially. This is not a case. Which versions of leaflet / vue2-leflet / leaflet-draw you use?

[2019-02-26 11:04] chistov commented on #331
package.json:
"vue2-leaflet": "^1.2.3",
 "leaflet-draw": "^1.0.4",

Here is component code:

[code]

[2019-02-26 11:09] bezany commented on #212
@zimmicz Hello! If I correctly understand try like [here]( http://jsfiddle.net/bezanyu/srkatboy/)

[2019-02-26 12:27] vomnes commented on #322
I didn't try the beta version, but I succeeded to reproduce the bug working on an other part of my project.

[code]

Without the line `renderer: markerRenderer,` the `TypeError: max2 is undefined` occurs.
It may help someone else to fixe this error.

[2019-02-26 15:02] DonNicoJs opened #345 "Unit test"
Since @bezany already started I am opening an issue for unit test.
We are highly lacking them right now and we definitively need more.
After 2.0 is released I am not going to work on any new feature (except bug fixing ) until we have a decent unit test coverage.

If anyone want's to help I would love any PR here.

[2019-02-26 22:10] alexbainbridge commented on #325
@DonNicoJs I will take a look. Might be 10 days though (sorry)
Thanks for addressing!

[2019-02-27 07:15] bezany commented on #330
@billyhunt I found two possible solutions.
First: use `:key=index`.
http://jsfiddle.net/bezanyu/f6kvsjL4/
Second: use leaflet methods `setZIndex`.
http://jsfiddle.net/bezanyu/ubzkhomy/

[2019-02-27 20:15] wishinghand commented on #196
I have a similar issue where I don't think refs will scale. I have a bunch of popups showing information. This information can also be referenced on a sidebar next to the map. When a user wants to edit the info in that popup, we have them click on an `edit` button on the sidebar corresponding to the marker they selected. We'd like to instead open the popup on that marker and let the user edit info

[2019-02-28 08:21] DonNicoJs commented on #196
@wishinghand you could check this component that we use on vue-people: https://github.com/pulilab/vue-people/blob/master/frontend/components/TooltipGroup.vue
and modify it for your needs. Basically you need one single tooltip and load his content accordingly, you can then open it on the latlng of the pin and it will work

[2019-02-28 09:06] HendrikCammann opened #346 "Module '"vue2-leaflet"' has no exported member 'LMap'"
Hello :-)

I am using Leaflet in Combination with Vue|Typescript.
But I have the problem, that when i try to import the Map, TileLayer etc. from vue2-leaflet my IDE tells me: Module '"vue2-leaflet"' has no exported member 'LMap'.

It still compiles tough and everything works fine, but when I run 'npm build' the build fails because of this. Does anyone know how to fix it?

`import { LMap, LTileLaye

[2019-02-28 09:18] DonNicoJs commented on #346
I am not a TS expert for that you need @HIMISOCOOL but I think you manually need to install some types. Could you try the new beta version ? No worries about double asking

[2019-02-28 21:31] HIMISOCOOL commented on #346
yeah, I am still not 100% why it happens, I don't have to install anything extra with ^1.2.3 and typescript but others have reported success when they install @types/leaflet. My packagelock.json has it at 1.2.14 so probably install ~1.2.14.
I would be interested to see if the new beta version is working for you too though :P

[2019-02-28 21:31] wishinghand commented on #309
I don't think I'm skilled enough to weigh in. I don't know what the alternative to binding to `$el` would be.

[2019-03-01 00:40] javiertury commented on #328
In the PR above, I use the prop `no-blocking-animations` to disable setZoom and panTo animations, which are the ones causing this problem.

The name of this property is more specific than the previous proposal to avoid confusion. LMap from Vue2Leaflet@2.0.0 has many properties related to animations.

Regarding existing properties, `zoomAnimate` alone can't solve this issue.

[2019-03-01 08:35] schlunsen opened #348 "Update releases in github to match NPM"
Hi, thanks for a great project.

I can see that NPM package for vue2-leaflet  has been updated with a new release of this project, but can't seem to find it here on github?

https://david-dm.org/schlunsen/nuxt-leaflet

[2019-03-01 09:28] DonNicoJs commented on #348
@schlunsen you are right I still not have done a github release matching npm, in the pipeline, I am adjusting some travis stuff first

[2019-03-01 10:50] HendrikCammann commented on #346
thanks for the fast answers :)

I tried adding @types/leaflet but it seems that this is not fixing my problem. This is how my package.json looks like:

[code]

What is this beta version you are talking about? :)

[2019-03-01 11:08] HIMISOCOOL commented on #346
Not that I think it makes a difference to the packagelock.json but types
generally go in the dev dependencies.
https://github.com/KoRiGaN/Vue2Leaflet/releases/tag/v2.0.0 is the newer
version.
Seems to be up on npm now.

On Fri, Mar 1, 2019 at 11:50 PM HendrikCammann <notifications@github.com>
wrote:

[2019-03-01 11:35] #328 closed

[2019-03-01 11:48] javiertury opened #349 "Vue2Leaflet@2.0.0 can't find leaflet from CDN"
Vue2Leaflet@2.0.0 requires leaflet to be imported separatedly. After loading leaflet@1.4.0 from a CDN, leaflet is exported as `window.L`, while Vue2Leaflet expects to find leaflet on `global.leaflet`.

I think Vue2-leaflet should search on `global.L`. Is thre any reason (perhaps old leaflet versions) to search in global.leaflet as well?

[code]

[2019-03-01 12:06] HendrikCammann commented on #346
@HIMISOCOOL

fixed it :) I forgot to add the @types/leaflet to my tsconfig.json.

[code]

After adding, everything worked fine.

[2019-03-01 15:31] DonNicoJs commented on #349
@javiertury is actually a mistake, this is an easy fix, rolling out a patch version right now

[2019-03-01 15:55] DonNicoJs commented on #349
@javiertury fixed on npm and fixed the docs!
Also corrected on how to import from CDN since now we specify the UNPKG script in the package.json

Thanks!

[2019-03-01 15:55] #349 closed

[2019-03-01 19:02] HIMISOCOOL commented on #346
Oh sweet, maybe we should add that as a verification step in the Readme 🤔

On Sat, Mar 2, 2019, 1:06 AM HendrikCammann <notifications@github.com>
wrote:

[2019-03-01 19:17] billyhunt commented on #330
Awesome!  Thank you!

[2019-03-02 18:18] kaboume commented on #281
Hi,
I'm using Nuxt 2.4.5 (last version), and I have the error "Failed to execute 'appendChild' on 'Node': parameter 1 is not of type 'Node'" when the mouse hover a marker.

I  tried to put the workaround alias but it doesn't work

[code]

The build says

[2019-03-02 18:46] ciolt commented on #281
@kaboume Add `const path = require('path');` at the very top of the same file

[2019-03-02 20:43] kaboume commented on #281
Thank you!
After executed "npm install --save path" and added "const path = require("path");" at the top of the nuxt.config.js file, everything works fine.

[2019-03-02 20:52] DonNicoJs commented on #281
@ciolt @kaboume did you try the new 2.0 ? it should fix the issue without workaround

[2019-03-02 20:54] DonNicoJs commented on #346
@HIMISOCOOL Is this something that happens in all the TS projects or only with vue2-leaflet ? I mean manually adding the type

[2019-03-02 20:55] DonNicoJs commented on #341
Closing since 2.0 is released

[2019-03-02 20:55] #341 closed

[2019-03-02 20:55] DonNicoJs commented on #315
@imShara new version is out, with esm , cjs and umd support

[2019-03-02 20:55] #315 closed

[2019-03-02 20:56] DonNicoJs commented on #325
@alexbainbridge the fix is not on the 2.0.1 stable :)

[2019-03-02 20:57] #295 closed

[2019-03-02 20:58] DonNicoJs commented on #291
Closing this, since 2.0 does not export L at all anymore

[2019-03-02 20:58] #291 closed

[2019-03-02 20:58] kaboume commented on #281
No I didn't. I will try. Thank you.

[2019-03-02 21:21] HIMISOCOOL commented on #346
I dont think I've ever had to do that.
this is my current tsconfig

[code]

[2019-03-03 13:12] DonNicoJs commented on #346
@HIMISOCOOL We actually completely lack a doc section for typescript, what would make sense to write there?

[2019-03-03 20:30] kaboume opened #350 "How to display the tooltip of a specific marker ?"
I'm using Vue2Leaflet with nuxt-leaflet and I'm wondering how to display the tooltip of a specific marker after cliquing on a button ("Display tooltip") in my template vue file ?

[code]

[2019-03-03 20:54] DonNicoJs commented on #350
@kaboume you can put a ref on the marker and do `this.$refs.markerRef.mapObject.openTooltip()`

[2019-03-03 21:02] kaboume commented on #350
I added "ref="refMarker" in the l-marker.
But when I execute the "this.$refs.refMarker.mapObject.openTooltip();", I have the error message :

[2019-03-05 12:46] sahitono commented on #298
@mikebronner hi, you can't query from WMTS from LWMSTilelayer because wms and wmts have different concept. You can use l-tile-layer directly to load wmts into leaflet, check this link for example how to use it https://gis.stackexchange.com/questions/177823/using-leaflet-and-web-map-tile-service-wmts

[2019-03-05 13:00] retrogradeMT commented on #350
@kaboume  here is a modified fiddle from another issue thread that shows how to get it to work:
 https://jsfiddle.net/retrogradeMT/wq0pamkb/4/

[2019-03-05 13:04] kaboume commented on #350
Thank you but my goal is to open the tooltip from a action (ex : clic button) coming outside the map

[2019-03-07 13:19] kaboume commented on #96
I have the same problem (Nuxt + Vuetify).
The solution of Alhakem works a little (add the "lazy" paramater) in the <v-bottom-sheet or v-dialog)
Ex

`<v-bottom-sheet v-model="sheetMap" full-width lazy>`

This works at the first display of the v-bottom-sheet. But, after resizing the browser window and clicking on the button to show the v-bottom-sheet : only a part of the map is displayed..

In anoth

[2019-03-07 17:36] Alhakem commented on #96
Hi @kaboume ,

As I mentioned above this issue happens because the changes in the container dimensions. However, I recommend you to overcome this issue by force Vue to re-render JUST the map component whenever the button is clicked to show the `v-bottom-sheet`

Keep in mind that if you find yourself needing to force re-rendering any component, maybe you aren't doing something the right way.

You c

[2019-03-07 20:50] kaboume commented on #350
Thank you for yout help.
It works now.

[code]

[code]

At the beginning, I tried to do this.$refs[refToDisplay].mapObject.openTooltip(); but it didn't worked. In console.log, I saw that this.$refs[refToDisplay] was an array with one element so I wrote  this.$refs[refToDisplay][0].mapObject.openTooltip();

Thanks a lot!

[2019-03-07 21:56] kaboume commented on #96
Hi @Alhakem ,
Thank you for the v-tab-item tag! I did not see that we could also use the "lazy" parameter in the v-tab!

Fot the sheet, the solution to rerender the Map works great!!! (I used the solution described at the bottom of this page : http://michaelnthiessen.com/force-re-render/).

I setted a key parameter on the map

`<l-map :key="componentKey" ref="refMap" :zoom="10" :center="positionIn

[2019-03-09 08:30] Alhakem commented on #96
@kaboume well done 😊👍

[2019-03-11 12:27] cojack opened #353 "Invalid image path after importing from leaflet"
### Description

#### Live Demo

I doesn't have

#### Steps to Reproduce

Add fe: import {latLng} from "leaflet";
after or before import {LMap, LTileLayer, LMarker, LIcon, LPopup, LFeatureGroup} from "vue2-leaflet";

#### Expected Results

Should works normally

#### Actual Results

GET data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAApCAYAAADAk4LOAAAFgUlEQVR4Aa1XA5BjWRTN2oW17d3YaZtr2962HUzbDN

[2019-03-11 12:43] #353 closed

[2019-03-13 05:04] fdorantesm commented on #353
I have the same issue with the last version. You could override background using css or use LIcon component to display a custom marker o display leaflet/dist/marker-icon.png image.

[2019-03-14 15:32] nailfor opened #354 "Possible incorrect using for .. in"
### Versions
- Vue2Leaflet: v2.0.2

Hi.

I am writing a plugin for vue2leaflet and found that the registerLayerControl method may incorrectly use for..in
in cycle
[code]
the layer variable will return 0, not layer, because
[code]
of the addLayer method creates a non-associative array

[2019-03-14 15:48] DonNicoJs commented on #354
@nailfor You are 100% right it should be `for ..of ` would you be interested in making a PR ?

[2019-03-14 16:41] nailfor commented on #354
done.

if interesting, im done vue2laeaflet-draw component to vue2leaflet, but i'm don't know how use rollup bundler for distribution

[2019-03-14 16:41] #354 closed

[2019-03-14 17:06] DonNicoJs commented on #354
@nailfor you can check how I am using it here! Or you can add me to the repo so I can help you there

[2019-03-17 22:36] leesmith opened #356 "How does Leaflet work in production SPA mode (Nuxt)?"
I've been struggling to get Leaflet to work in production mode, specifically in my Nuxt app where mode is `spa`. I'm essentially using geolocation to plot markers on a map that represent businesses.

I've tried two different solutions (`nuxt-leaflet` module as well as the manual plugin method) and in both cases my map works perfectly in dev mode but after `npm run build && npm start`, it fails in

[2019-03-18 04:26] wadclapp opened #357 "Adding Vue2Leaflet child components to <l-map> from nuxt child"
### Description
Is it possible to have a parent container with `<l-map>`, then include some Vue2Leaflet components into it from `<nuxt-child />`?

Parent.vue
[code]

Parent/Child.vue
[code]

I need to load different content depending on the current route, and ideally have them in separate files rather than one big one.

But it's not working for me, and getting the error below. Is this possible? Or

[2019-03-18 06:01] leesmith commented on #356
Never mind. PurgeCSS was killing my leaflet classes...doh! Sorry.

[2019-03-18 06:01] #356 closed

[2019-03-18 08:24] DonNicoJs commented on #357
@wadclapp can you provide a codesandbox or codepen with a minimal example ? I think I can help you

[2019-03-18 14:23] wadclapp commented on #357
Hi @DonNicoJs , thanks. I've created a codesandbox here - https://codesandbox.io/s/m7x98rppwp?fontsize=14

All files other than `layouts/map.vue` and `pages/map.vue` can be ignored. I think I managed to recreate it.

It's just not hooking into the map object in the parent file. Works fine when using a normal component, just not when using `<nuxt />`/`<nuxt-child />`.

[2019-03-18 17:07] fchabouis commented on #196
I think it would be useful to explain this in the documentation, as you must set a ref to the parent marker, and call the openPopup function of it using this.$refs... but wrapped in a nextTick function, to make sure the DOM has been updated.

I wouldn't have guessed all that without this closed issue.
Thanks for this great lib !

[2019-03-18 18:29] alc32 opened #358 "Mouseover with LCircleMarker"
### Description

I draw a map with circle markers, which radius is a magnitude.

This worked in v1.2.3 but with v2.0.2 does not work.

v1.2.3:
When mouseover the municipality, cursor changes to hand pointer cursor and it is showed the value.
![Working example](https://user-images.githubusercontent.com/23075572/54553743-2b8ac880-49b3-11e9-914b-3a7304ed7f25.png)

v2.0.2:
When mouseover the municipal

[2019-03-19 06:14] DonNicoJs commented on #196
@fchabouis would you be interested in making a pr for the docs?

[2019-03-19 06:15] DonNicoJs commented on #358
Ehi could you provide a code pen / code Sand box with a minimal reproduction repo? So that I can take a look!

[2019-03-19 08:23] DonNicoJs commented on #357
@wadclapp if you move the`<Nuxt>` element inside the `<l-map>` is going to work, otherwise the parent / child relationship is not kept:

https://codesandbox.io/s/743o49qw8j?fontsize=14

[2019-03-19 14:03] wadclapp commented on #357
Oops, that wasn't the issue in my project. I think having a computed property called 'mapObject' broke things (as I'm storing map object in store). Thanks for your help though, and great work on vue2leaflet!

Leaflet doesn't support SSR does it?

[2019-03-19 14:03] #357 closed

[2019-03-19 14:13] DonNicoJs commented on #357
@wadclapp sadly leaflet and ssr are not friends :( and probably never be

[2019-03-19 21:21] alc32 commented on #358
In addition, RAM dont stop increasing when its re-rendered the map (in the example, just clicking in menu items)

Live example:
https://vueleaflet.firebaseapp.com/

Code:
https://gitlab.com/alc32/vue2-leaflet-issue

Thanks!

[2019-03-20 19:18] burzum commented on #163
@DonNicoJs Using the 2.0 version fixed the problem without further changes from my side. 👍

[2019-03-21 03:08] whittaker007 commented on #146
In case it helps anyone else I started getting this issue and in my case it turned out to be because the text source I was using in the popup/tooltip was actually numerical and I had to explicitly convert it to a string to avoid the error.

[2019-03-21 08:55] DonNicoJs commented on #163
@burzum Glad that is fixed!

[2019-03-21 08:55] DonNicoJs commented on #358
@alc32 Thanks I am investigating this

[2019-03-21 08:59] DonNicoJs commented on #331
Also I think a specific plugin was released for draw! closing here

[2019-03-21 08:59] #331 closed

[2019-03-21 08:59] #330 closed

[2019-03-21 09:01] DonNicoJs commented on #308
You would lose reactivity if you tried to inject a component that way.
We may provide a component to do so in the future! Making a dedicated issue for it.

[2019-03-21 09:01] #308 closed

[2019-03-21 09:02] DonNicoJs opened #359 "New Component: Add custom HTML inside the map"
Related to 308

[2019-03-24 13:14] maratumba commented on #262
The quick start guide link on the [readme](https://github.com/KoRiGaN/Vue2Leaflet/blob/master/README.md) (https://github.com/KoRiGaN/Vue2Leaflet/blob/master/quickstart.md) seems not to be working again.

[2019-03-24 13:55] DonNicoJs commented on #262
@maratumba thanks fixed the link!

[2019-03-26 08:07] shcolo opened #360 "How to add ContextMenu in Vue2 Leaflet？"
How to add ContextMenu in Vue2 Leaflet？
Like https://github.com/aratcliffe/Leaflet.contextmenu

[2019-03-26 16:21] tamirgilany commented on #331
Do you have a link for that plugin? Couldn't find any...
Thanks

[2019-03-26 16:23] tamirgilany commented on #331
Any reason why the drawControl which are in false such as polygon, rectangle and so on are still visible despite having the value false?

Thanks!

[2019-03-28 13:20] DmitriyVTitov opened #362 "Tooltip issue in BeforeDestroy hook"
I have an issue similar to #195.

found in
\<LTooltip>
      \<LMarker>
         \<LLayerGroup>
           \<LMap>

 removeInteractiveTarget leaflet-src.js:6460
 closeTooltip leaflet-src.js:10292
 unbindTooltip leaflet-src.js:10215
 beforeDestroy vue2-leaflet.min.js:1
 invokeWithErrorHandling21VueJS

callHook
destroy
destroy
invokeDestroyHook
invokeDestroyHook
patch
destroy
destroy
invokeDestroyHo

[2019-03-28 18:48] paparent opened #363 "Leaftlet providers and plugins"
Hi !

I'd like to know how to use other providers and some plugins. For example I'd like to use the following :

https://github.com/leaflet-extras/leaflet-providers (to use HERE for example).

And bouncing from the following plugin :

https://github.com/hosuaby/Leaflet.SmoothMarkerBouncing

Thanks a lot !!

[2019-03-28 19:05] maratumba opened #364 "Coordinate mismatch with google maps"
### Description
Coordinates from google maps don't match coordinates on ESRI World Imagery tiles.

#### Live Demo

http://jsfiddle.net/gulyamani/ocjw580q/

#### Steps to Reproduce
Go on [google maps](https://www.google.com/maps/place/40%C2%B050'11.6%22N+29%C2%B030'51.5%22E/@40.836566,29.5135417,222m/data=!3m2!1e3!4b1!4m5!3m4!1s0x0:0x0!8m2!3d40.836566!4d29.514314) and search for these coordinates:

[2019-03-29 15:49] ady642 commented on #157
For it was a problem of height of the map. I put height:inherit and it works

[2019-04-04 04:30] mikeu commented on #345
What is the current status on this? I'd be up for trying to expand the coverage, but don't want to duplicate work. I was thinking of starting with the functions in the utils file.

[2019-04-04 04:54] DonNicoJs commented on #345
@mikeu you can start working on it! Nobody stood up for it. Please open immediately a pr with WIP in the title! And thank you!

[2019-04-04 16:58] mikeu opened #366 "npm install fails with "(buble plugin) CompileError: for...of statements are not supported.""
### Description
An error is thrown during `npm install`. I have experienced this on my own Windows machine, and seen the same output from Travis while attempting to run automated tests on a PR.

#### Steps to Reproduce
Clone the repo, and run `npm install`.

#### Expected Results
No error is thrown and the installation completes successfully.

#### Actual Results
The initial installation of depend

[2019-04-04 18:07] DonNicoJs commented on #366
@mikeu thanks! I will take a look at this tomorrow!

[2019-04-05 14:00] fodger commented on #366
Hi,
Exactly same issue for me.

Thanks a lot for your help.

[2019-04-05 14:45] DonNicoJs commented on #366
@fodger @mikeu fixed the issue, I was a bit sloppy there. Travis builds are fixed too now.
Thanks again!

[2019-04-05 14:45] #366 closed

[2019-04-09 15:31] Finrod927 opened #367 "Changelog?"
Hi, and thanks for this great component.

But it's quite difficult to know what have changed between versions :
- NPM lists a 2.0.3 version, but the repository is still in 2.0.2
- There is no changelog file
- And no more detailed releases

Is it possible to have a Changelog file or detailled releases like it was done for 1.x versions?

Thanks :)

[2019-04-09 16:51] DonNicoJs commented on #367
It is certainly possible! And It will happen. I am just very busy at the moment.

But: we follow semver. So 2.x changes are documented, 2.0.3 from 2.0.2 is a patch change that fixed a bug in the code.

It's probably here in GitHub because I forgot to push the change to package.json.

I would love to have a more structured system to do releases. It's in the pipeline.

If anyone want to stand up to

[2019-04-10 01:52] DmitriyVTitov commented on #362
Here is what Chrome says:

[2019-04-10 08:37] infinityboy opened #368 "Hello,Future plans with vue3.0?"
### Description

#### Live Demo

http://jsfiddle.net/Boumi/k04zpLx9/

#### Steps to Reproduce

#### Expected Results

#### Actual Results

### Browsers Affected

- [ ] Chrome
- [ ] Firefox
- [ ] Edge
- [ ] Safari 9
- [ ] Safari 8
- [ ] IE 11

### Versions
- Leaflet: vX.X.X
- Vue: vX.X.X
- Vue2Leaflet: vX.X.X

[2019-04-10 11:56] DonNicoJs commented on #368
@infinityboy
if we can have a retro-compatible version: update as a minor version
if we can't have a retro-compatible version: release a new major and support 2x only for bug-fixes

But I believe we can have a retro-compatible version AND we can fix a lot of performance issue due to the new  Proxy-based Observation.

Is this what you wanted to know ?

[2019-04-11 10:40] gautam-patadiya commented on #163
@KoRiGaN
thank you very much...

[2019-04-13 12:19] airmalik opened #369 "How to reference FeatureGroup?"
I'd like to wrap markers within a featureGroup and then reference that feature group from the script. I'm using this.$refs to get a reference to the featureGroup inside the mounted hook. But the reference is null unless I wait at least a millisecond before accessing it.

[code]

I'm assuming this is because the slot in the LFeatureGroup.vue template isn't created until ready=true:

[code]

So what

[2019-04-13 13:47] DonNicoJs commented on #369
@airmalik hi thank you for the issue! I think that feature group should have a ready event, I will add it shortly! Or if you could open a pr it would be wonderful!

[2019-04-13 16:30] fauzipadlaw commented on #325
not working on 2.0.0-beta.1 as well as it should :/

[2019-04-13 16:43] DonNicoJs commented on #325
@fauzipadlaw did you try the latest version? (2.0.3) because we have unit tests ( in this PR https://github.com/KoRiGaN/Vue2Leaflet/pull/365/files ) and the unit test are passing (https://travis-ci.org/KoRiGaN/Vue2Leaflet/builds/516254653?utm_source=github_status&utm_medium=notification)

[2019-04-13 16:49] fauzipadlaw commented on #325
I did.
https://jsfiddle.net/6zscu3md/

[2019-04-13 17:10] DonNicoJs commented on #325
@fauzipadlaw you need the .sync modifier for it to work :) https://jsfiddle.net/v478n31w/3/

[2019-04-13 17:25] fauzipadlaw commented on #325
great, it does work! thank you so much @DonNicoJs

[2019-04-16 22:52] wishinghand opened #370 "Accessing component methods without refs"
When using Vue2Leaflet components in a `v-for`, I often have need to modify that specific one after an event, like dragging a marker. When I look for ways to access a specific Vue2Leaflet component, I usually see recommendations to set a ref on it, then calling `this.$refs.refName.mapObject.componentMethod`. Is there a way to pass the instance of a component through an event so that component meth

[2019-04-17 05:39] DonNicoJs commented on #370
@whisinghand I am thinking to add a 'ready' event to all the components that emit the mapObject back this would solve lots of problems actually

[2019-04-17 05:55] infinityboy commented on #368
Yes, thank you very much for your answer!

[2019-04-17 08:41] EnkeChan opened #371 "Can I set a L.point() size for LTileLayer?"
Thanks for make this project!  It help me a lot.

And there is a powerful prop for tileLayer I can not use easily.

I use like this:

l-tile-layer :tileSize="L.point(100,200)"  l-tile-layer   (I can not write<>)

It seems that vue2leaflet does not support L.point size?

P.S: My English is not good, I am a Chinese, I'm  learning English hardly. hah

[2019-04-17 09:25] sstenn opened #372 "mapObject not accessible in L.GeoJson in IE11"
### Description
I'm making a map with a line that changes after click. All works fine in Chrome, Safari, Firefox and Edge, but not in IE11.

The LGeoJson is stored as `ref="line"`

    <l-geo-json ref="line" :geojson="line" :options-style="options"></l-geo-json>

In my method I want to access the line like `this.$refs.line.getBounds()`, the ref exists but has no `.mapObject` or `getBounds()` in IE

[2019-04-17 09:46] DonNicoJs commented on #372
@sstenn  thank you for the issue, could you provide a reproduction codesandbox ? it would help me a lot

[2019-04-17 09:54] DonNicoJs commented on #371
Hi @EnkeChan thank you for opening an issue.
`tileSize` does not have a corresponding `getTileSize` method, so it's not a direct prop BUT! you can pass it to the `:options` to have it set on the tile-layer creation

[2019-04-17 09:55] DonNicoJs commented on #364
@maratumba do you think this is a Vue2Leaflet issue or a leaflet issue?
can you reproduce the issue with leaflet alone?

[2019-04-17 09:56] DonNicoJs commented on #363
@paparent all the plugins that we are aware of are in the docs section if they are missing feel free to create one and make a PR to add them to our docs!

[2019-04-17 11:28] maratumba commented on #364
I got [this reply](https://gis.stackexchange.com/questions/317050/coordinate-mismatch-between-google-maps-and-leaflet-using-esri-world-imagery/317091#317091) on gis stack exchange, which says it is an issue with the misaligned ESRI imagery.

The problem appears to be localized, you can compare different imagery for the problematic location [here](https://next.plnkr.co/edit/UBZH033vlMbMXmpMYTqS?p=p

[2019-04-17 11:34] DonNicoJs commented on #364
@maratumba thank you for the reply, so is not an issue here :) thank you nonetheless! Closing

[2019-04-17 11:34] #364 closed

[2019-04-17 12:13] sstenn commented on #372
https://codesandbox.io/embed/qlljl3voj9

@DonNicoJs

[2019-04-17 16:33] wishinghand commented on #370
How might that look in practice?

[2019-04-17 19:25] paparent commented on #363
@DonNicoJs Hi

Yeah sure I can develop one ! But those two seemed a bit more complex (maybe, because I've never played with leaflet and vue-leaflet). So wanted input from other how easy is to implement that!

[2019-04-18 04:34] EnkeChan commented on #371
ok!

[2019-04-18 07:09] DonNicoJs commented on #371
@EnkeChan does this work for you ? can we close the issue?

[2019-04-18 07:12] DonNicoJs commented on #370
Something like this:

[code]

Ugly formatting aside this should solve your issue I think and also provide a reliable event where mapObject is always present

[2019-04-18 07:13] DonNicoJs commented on #372
@sstenn Thank you, very much I will look into it during the next days ( yay easter is here and I have free time )

[2019-04-18 07:14] DonNicoJs commented on #367
@Finrod927 I am planning to port the CI from travis to gitlab and use their CI / CD to do npm releases triggered from github versions/tag (as it was before the travis deploy broke)

[2019-04-18 07:19] DonNicoJs commented on #363
@paparent the best thing to do is to keep in consideration those points:

- leaflet exposes utility that you can leverage `findRealParent` and `propsBinder`
- everything should be initialised in the mounted lifecycle hook
- remember to set leaflet as a peerDependecy
- rollup is the best library bundler so you can leverage ESM ( you can check how we do it here in the main repo )
- if you want you c

[2019-04-18 13:46] hubertokf opened #373 "Support for eeGeo"
First of all, I tryed using stackoverflow with tag Vue2Leaflet, but since I dont have much reputation and to create that tag needs 15000, I could not post it using that tag.

So..

I want to show a 3D object model in a map. I'm using Vue2 with Vue2Leaflet. Actually I found eeGeo that could help me. It works very well with Leaflet lib, but how can i use it with Vue2Leaflet.

[2019-04-18 15:30] DonNicoJs commented on #373
@hubertokf two ways
1) create a plugin :)
2) directly using it by referencing the map with the mapObject

[2019-04-18 17:58] hubertokf commented on #373
Thank you @DonNicoJs !

hehe, I have tried before to include some code on lib, but got no luck with that. I couldnt understand how everything work. But I will give another try. Thanks!

[2019-04-19 02:52] EnkeChan commented on #371
yes！ Thank you!

[2019-04-19 02:52] #371 closed

[2019-04-19 08:49] mawieutc opened #375 "Rendering double markers"
### Description
Hi,
I have a strange behaviour: markers are displaying double points.
![image](https://user-images.githubusercontent.com/3974608/56415937-9750a180-628f-11e9-9ff1-3d9142517ec5.png)

I guess my code is very basic... Anyone got the same issue?

[code]

[code]

[code]

### Browsers Affected

- [X ] Chrome
- [X ] Firefox
- [X ] Edge

### Versions
- Leaflet: 1.3.4
- Vue: 2.5.17
- Vue2Lea

[2019-04-19 08:51] DonNicoJs commented on #375
@mawieutc Hi! could you create a small reproduction repo on codesanbox please ?

[2019-04-19 13:05] mawieutc commented on #375
Hi,
For some reason it is working on my other project...
But i found someone else who got the ame issue as me (while I was trying to figure out how to change my icon, which i am still struggling with :/)

https://github.com/Leaflet/Leaflet/issues/4968#issuecomment-255592017

[2019-04-19 13:15] mawieutc commented on #375
Awesome, this just fixed both issues:

[code]

Thank you very much for your answer nico

[2019-04-19 13:15] #375 closed

[2019-04-19 18:41] DonNicoJs commented on #375
@mawieutc nothing :) well I did nothing after all thank you for taking your time to post your answer

[2019-04-21 14:27] #369 closed

[2019-04-21 14:27] #370 closed

[2019-04-21 14:31] DonNicoJs commented on #369
@airmalik 2.1.3 is out with `ready` event on all the component

[2019-04-21 14:32] DonNicoJs commented on #370
@wishinghand  2.1.3 is out with ready event on all the component

[2019-04-21 14:33] DonNicoJs commented on #367
@Finrod927 tags now are automatically synced when I do new npm version, and i am keeping up the changelog in the releases tab

[2019-04-21 14:33] #367 closed

[2019-04-21 14:35] #368 closed

[2019-04-21 14:35] DonNicoJs commented on #348
@schlunsen Releases are now on pair And I will endeavour to keep them up

[2019-04-21 14:36] #348 closed

[2019-04-21 14:36] #346 closed

[2019-04-21 14:36] #332 closed

[2019-04-21 14:37] DonNicoJs commented on #326
@HoPGoldy 2.0 is out and it should solve your issue :)

[2019-04-21 14:37] #326 closed

[2019-04-21 14:37] #325 closed

[2019-04-21 14:38] DonNicoJs commented on #309
Closing this and making a new issue to update the docs

[2019-04-21 14:38] #309 closed

[2019-04-21 14:39] DonNicoJs opened #378 "Docs: add class quirks on l-map"
We need to document in the docs this quirk:
#309

[2019-04-21 14:39] DonNicoJs commented on #301
Closing due to inactivity, please re-open if needed

[2019-04-21 14:39] #301 closed

[2019-04-21 14:40] DonNicoJs commented on #299
Closing due to inactivity, please re-open if needed

[2019-04-21 14:40] #299 closed

[2019-04-21 14:41] DonNicoJs commented on #294
Closing this and opening a new issue

[2019-04-21 14:41] #294 closed

[2019-04-21 14:42] DonNicoJs opened #379 "TileLayer: add bounds prop"
see #294 for the discussion

[2019-04-21 14:42] #269 closed

[2019-04-21 14:43] DonNicoJs commented on #281
since 2.x is out since a while closing this

[2019-04-21 14:43] #281 closed

[2019-04-21 14:44] DonNicoJs commented on #292
Closing this

[2019-04-21 14:44] #292 closed

[2019-04-21 14:45] DonNicoJs commented on #373
Labelled as plugin request and closing. Feel free to re-open

[2019-04-21 14:45] #373 closed

[2019-04-21 14:45] DonNicoJs commented on #363
Labelling as plugin-request and closing, feel free to re-open if you have more questions

[2019-04-21 14:45] #363 closed

[2019-04-21 14:46] DonNicoJs commented on #311
@moas do you still have an issue with this? Sorry if I never got to answer you

[2019-04-21 14:48] DonNicoJs commented on #245
@Carnid are you still interested in working on this? Closing for now but feel free to re-open

[2019-04-21 14:48] #245 closed

[2019-04-21 14:49] DonNicoJs commented on #142
Closing this since l-control is inside the codebase since a while

[2019-04-21 14:49] #142 closed

[2019-04-21 14:51] DonNicoJs commented on #96
Is anyone in this thread up to write down in the docs some guidelines that are scattered here? It would be helpful for the next people with the same problems

[2019-04-21 14:53] DonNicoJs commented on #28
closing here and adding a new issue to update the docs with the info collected in this thread

[2019-04-21 14:53] DonNicoJs opened #380 "Add leaflet marker icon gotcha's to the docs"
see #28

[2019-04-21 14:53] #28 closed

[2019-04-21 14:55] DonNicoJs commented on #360
@shcolo you can either use it 'manually' with the mapObject API exposed through refs or by the ready event or create your own plugin!
Labelling as plugin-request and closing

[2019-04-21 14:55] #360 closed

[2019-04-21 14:57] DonNicoJs commented on #333
@bezany how do you propose we move forward with this ? do you want to submit a PR or shall I take this head on?

[2019-04-21 14:57] DonNicoJs commented on #322
Closing due to inactivity, feel free to re-open

[2019-04-21 14:57] #322 closed

[2019-04-21 15:04] DonNicoJs commented on #310
@AnilKumaRLotla Can you provide a bit more context on what you are trying to achieve?

[2019-04-21 15:05] DonNicoJs commented on #298
Closing this due to inactivity, feel free to re-open

[2019-04-21 15:05] #298 closed

[2019-04-21 15:06] DonNicoJs commented on #261
Labelling this as a doc update

[2019-04-21 15:06] DonNicoJs commented on #240
Closing this due to inactivity, feel free to re-open

[2019-04-21 15:06] #240 closed

[2019-04-21 15:08] DonNicoJs commented on #181
Closing this, movingmarker is listed in the docs as well

[2019-04-21 15:08] #181 closed

[2019-04-21 15:08] DonNicoJs commented on #175
Closing this due to inactivity, feel free to re-open

[2019-04-21 15:08] #175 closed

[2019-04-21 15:09] DonNicoJs commented on #146
2.0 is released since a while, closing this, feel free to re-open

[2019-04-21 15:09] #146 closed

[2019-04-21 15:12] DonNicoJs commented on #172
We need to investigate if this bug is still present

[2019-04-21 15:13] DonNicoJs commented on #179
Closing this due to inactivity

[2019-04-21 15:13] #179 closed

[2019-04-21 17:14] Alhakem commented on #96
@DonNicoJs

I can help with that

[2019-04-22 14:26] DonNicoJs commented on #96
@Alhakem Thanks! Waiting for a docs PR so :)

[2019-04-23 21:55] wishinghand commented on #370
Is there a way to call `@ready` again? My predicament is like this:

[code]

When I drag the `l-marker`, I do some checks the `@moveend` event `updateGateCoords`. If the gate is moved into an invalid area, I'd like to call `setLatLng` on it with the previous coordinates from `$event` to move it back to where it started. This is where I'd need the `mapObject` for that specific `l-marker`, but I'm u

[2019-04-24 06:34] DonNicoJs commented on #370
@wishinghand my suggestion is: wrap the l-marker in another component, that component should be a proxy that pass down any props and event but listen to the marker @ready and store the map object in an internal value say `localMapObject` then everytime u ran updateGateCoords you can pass up the stored localmapobject (sorry I am on mobile)

[2019-04-24 14:27] bezany commented on #369
@airmalik @DonNicoJs
Look like need $nextTick.
`ready` event may be helpful another situation. In this situation `$nextTick` need always?
See my [example](https://jsfiddle.net/bezanyu/8qm0vod7/)

[2019-04-24 14:40] DonNicoJs commented on #369
@bezany nice catch, maybe we should modify the ready event to be fired only after `$nextTick` what do you think ?

[2019-04-24 17:40] DC19950217 commented on #177
How can this problem be solved?

[2019-04-25 06:28] bezany commented on #369
@DonNicoJs Yes, very good solution!
Now `ready` event same as `mounted` hook.
With`$nextTick` it is will be more useful.
[Exmaple with ready-nextTick](https://jsfiddle.net/bezanyu/8qm0vod7/14/)

[2019-04-26 07:36] DonNicoJs commented on #362
@DmitriyVTitov I am working on this

[2019-04-28 16:11] HugoHeneault commented on #353
Still having this issue. Why is this closed? Did you find a solution? Would you share it, please? :)
Thanks a lot!

[2019-04-29 06:28] bezany commented on #353
@fdorantesm @HugoHeneault Hello!
Issue don't reproduced with latest version vue2-leaflet (2.1.1).
[See demo](https://stackblitz.com/edit/vuejs-starter-v4colm)
Now `leafelt` is peerDependencies. Problems with import order from `leaflet` must go away.

[2019-04-29 07:19] DonNicoJs commented on #353
@HugoHeneault as @bezany said :) you still need a fix for webpack but that is documented in the docs

[2019-04-30 07:56] bezany commented on #379
It is `option` of `GridLayer` ([documentation](https://leafletjs.com/reference-1.4.0.html#gridlayer-bounds)).
It is can usage in vue2-leaflet with `options` prop. [Example](https://stackblitz.com/edit/vuejs-starter-n5jvnf).
May be described details in documentation.

[2019-04-30 08:13] bezany commented on #311
Look like related #333
If need show all points simplest way - show array of LMarkers.
Also can use `freezed` GeoJSON with points.
If there are a lot of points and you don’t always have to show everything I think may be helpful [vue2-leaflet-markercluster](https://github.com/jperelli/vue2-leaflet-markercluster).

[2019-04-30 09:15] DonNicoJs commented on #379
@bezany nice catch, I thought I saw a setter somewhere. I think the docs have a problem, related to docsify issue that does not show properly all the props coming from the mixins.

[2019-04-30 09:20] DonNicoJs commented on #333
Closing this! We should add something to the docs about big dictionaries in data / computed / vuex

[2019-04-30 09:20] #333 closed

[2019-05-01 19:03] ij1 opened #385 "LIcon encapsulation breaks $refs"
### Description

#### Steps to Reproduce

[code]
Then try to draw into this.$refs['mark-canvas'].

#### Expected Results
The marker/icon/canvas matches what is drawn to the canvas.

#### Actual Results
Nothing appears on the canvas. It turns out that there are in fact two canvases, and the visible one is not accessible through $refs as expected (drawing goes to the second, non-visible canvas).

I

[2019-05-01 19:34] wishinghand commented on #370
I've setup a wrapper component like this for the template part:

[code]

and the `@ready` event doesn't seem to trigger. I have it just saving the mapObject when it happens:

[code]

[2019-05-02 07:19] DonNicoJs commented on #370
@wishinghand I received an email with an update from your issue but I can't find the message here. Did you delete it? is it solved for you now?

[2019-05-02 07:26] DonNicoJs commented on #385
@ij1 Wow this is a use case that I did not think would exist/work.

So how the system works is that what you put inside l-marker gets used as a base reference and is content transferred to leaflet with the appropriate methods/class initialisation.

if you manipulate the canvas directly we have absolutely no way to know that the leaflet  part needs to be updated.

My suggestion is to: update to the

[2019-05-02 20:58] ij1 commented on #385
To be honest, I didn't think that either but I was considering that I might have to write my own code for using canvases with marker like objects but then by chance wandered to the l-icon docs page and realized I could just replace the image in the given example with a canvas! And that warranted testing it out :-).

What I've done so far to solve this problem is passing a code-generated svg to the

[2019-05-03 05:21] wishinghand commented on #370
The issue is solved now. The comment I deleted was about not being able to access the `@ready` event but for some reason my branch reset my vue2leaflet version. After an `npm install` I was able to get this workaround to deliver the expected results.

[2019-05-04 14:17] dreamid27 commented on #380
how I contribute?

[2019-05-05 10:17] DonNicoJs commented on #380
@dreamid27 you can check the related issue linked in the description and sunmarize all the quirks in a docs pr either in faq or under the marker component

[2019-05-06 20:47] ij1 commented on #385
This sort of works, I had to still put yet another this.$nextTick into the ready handler be able to acquire the canvas instead of the icon image.

I just tried resizing the icon/canvas + recentering the anchor and it broke again. I guess the icon gets rewritten so that the old canvas is thrown away and the new one is put to DOM. Not a big deal though, I'll just keep the size constant and scale the

[2019-05-06 22:18] DonNicoJs commented on #385
@ij1 do you use the last version? Also do you think we could do a dedicated component?

[2019-05-06 23:41] mudin commented on #325
@DonNicoJs Thanks a lot. `.sync` saved my day! One more issue is its not updating position on drag :(

[2019-05-07 09:25] ij1 commented on #385
Yes, I think so:

...so the `$nextTick($emit('ready'))` stuff should be there already.

For static content, I guess the current approach is ok. But for truly HTML like content such as DivIcon I think my natural expectation is somewhat more (more "vue-like" handling for the slot content) and anything else ends up into a surprised: "ow, that didn't work". Such surprise, of course, is not the end of

[2019-05-08 08:41] michaelzhu288 opened #388 "LWMSTileLayer baseUrl Error"
### Description
Hi,

I got The data property "baseUrl" is already declared as a prop. Use prop default value instead.  when using the WMS component. How to solve this issue?

vue.runtime.esm.js?2b0e:587 [Vue warn]: The data property "baseUrl" is already declared as a prop. Use prop default value instead.

found in

---> <LWMSTileLayer>
       <LMap>
         <MapTest> at src/components/views/map/M

[2019-05-08 09:23] DonNicoJs commented on #388
Hi! could you create a reproduction in codesandbox / codepen?

[2019-05-08 12:30] nawalnew opened #389 "minNativeZoom and maxNativeZoom"
### Description

I need to set a different minZoom for mobile devices. "minNativeZoom" is not working with Vue2Leaflet. Any advices?

#### Steps to Reproduce
Because at zomm level 3 the map shows Gray Borders left and right I had to do minZoom to 3.5.

On Mobile I need at least minZoom 2.0.

Ive ried the minNativeZoom in the options, but no success.

#### Expected Results

When setting minNativeZo

[2019-05-08 14:54] michaelzhu288 commented on #388
Hi DonNicoJs,

There's global variable with the name baseUrl in my template which confilct with the WMS's prop.  It is OK now.

Regards

[2019-05-08 14:54] #388 closed

[2019-05-08 15:47] neXorianus commented on #291
i'm useing `"vue2-leaflet": "^2.1.1",` and still getting the types error (on `vue-cli-service serve`).

I had to install `@types/leaflet` and include @JimmyBastos 's `declare ...` file to get it running again.

[2019-05-08 22:36] ricardopolo opened #390 "Preffix false"
In `          <l-control-attribution
            position="bottomright"
            :prefix="false "
          />`
you can  pass `prefix` as false to remove the prefix. It works!

However, it is giving an exception
![image](https://user-images.githubusercontent.com/1263856/57412841-cb94ef00-71b7-11e9-9759-671d78c3ce57.png)

[2019-05-09 03:23] hv3s1 opened #391 "about TileLayer ZoomOffset"
How to set up... https://leafletjs.com/reference-1.5.0.html#control-scale

[2019-05-09 03:41] #391 closed

[2019-05-09 08:50] DonNicoJs commented on #390
@ricardopolo Thanks for the issue, we just need to fix the prop types here!

[2019-05-09 08:51] DonNicoJs commented on #389
@nawalnew thanks for the code, will investigate this soon.

[2019-05-09 08:55] DonNicoJs commented on #385
@ij1 Sadly the approach of putting stuff in the DOM and then feeding it to leaflet is the only one that allows us to still use the reactivity if we don't put the element in the dom it does not get updated.
I am fighting with this since a while but I don't know if we can do better.

About creating only one icon I am thinking to re-write  `l-default-icon` to be a  static performant `l-icon`

`_setIc

[2019-05-13 18:50] ij1 commented on #385
I'm starting to regret I even made this bug report as I'm afraid my canvas inside divicon trick will break if something gets changed the wrong way :-) (obviously with the no resizing + no $refs restrictions but I can live with those).

I noticed that Leaflet 1.5.0 seems to have added support for giving an element to DivIcon without mucking around with Leaflet's internals:
https://github.com/Leafle

[2019-05-15 07:07] #390 closed

[2019-05-15 07:08] DonNicoJs commented on #385
@ij1 No worries we pay attention not to break it :) ALSO! could you provide an example with the canvas technique? It would help us not break anything and also be interesting for others

[2019-05-16 21:26] mgiraldo commented on #86
@KoRiGaN what if i want to do it the other way around? say i have a list of those same contacts and when i click the cell/row i want the marker popup to activate, so as to locate them in the map?

[2019-05-16 22:16] mgiraldo commented on #86
i ended up adding a `ref` to each marker and using a shared identifier to open it programmatically like so:

[code]

note the `[0]` because markers are in a `v-for` and the [`$refs` returns an array there](https://vuejs.org/v2/guide/components-edge-cases.html#Accessing-Child-Component-Instances-amp-Child-Elements)

[2019-05-17 03:35] Dallel19 opened #394 "The map disappear when i add the leaflet.css file"
Hello,
I am trying to reproduce the simple map example. At the beginning i got a bad displaying of the map and when i added the leaflet.css the map disappear.
before adding the css file:

![Screenshot_2019-05-17 leaflet-vuejs-example](https://user-images.githubusercontent.com/35085413/57901148-b37a3b00-785b-11e9-87c0-2106f9a45d39.png)
and after i add it:
![Screenshot_2019-05-17 leaflet-vuejs-examp

[2019-05-17 06:45] DonNicoJs commented on #394
@Dallel19 hi! You need to set a fixed height to the map!

[2019-05-17 14:16] Dallel19 commented on #394
It's working!
Thank you,

[2019-05-17 14:16] #394 closed

[2019-05-21 08:54] sergmsr opened #395 "Example.vue does not runs"
You should import also glyth to make it consistent by:

    import { glyth } from "leaflet.icon.glyph";

[2019-05-21 09:53] DonNicoJs commented on #395
@sergmsr the example run in the examples codebase,  but yeah it does not run standalone. Good point

[2019-05-26 01:59] AdamNizol opened #396 "icon size not changing with it's prop"
When the icon-size prop on an l-icon is changed, the change isn't updated on the map

[2019-05-26 02:30] #396 closed

[2019-05-27 17:29] #334 closed

[2019-05-28 17:08] hubertokf opened #399 "include layer to LFeatureGroup"
How to add layer to a LFeatureGroup?

I have this html structure:
[code]

I have to create a Feature group for edition, so how can I place those drawing to a feature group that i could edit using leaflet.draw

[2019-05-29 09:23] DonNicoJs commented on #399
@hubertokf I am sorry but I did not understand what is the problem, can you share a bit more of the code please?

[2019-05-29 13:54] hubertokf commented on #399
Ok, I'm starting to use Leaflet.Draw. To make it work, assuming that I need to edit layers (drawings, polygons), I need to create a L.FeatureGroup and add those layers to this FeatureGroup, as you can see on this code:

[code]

Assuming that I have a LFeatureGroup, and I can add those layers inside it, those layers should be added to that FeatureGroup, as you can see in this code:

[code]

But tho

[2019-05-30 09:58] entrehuihui opened #400 "I have a problem"
I set multiple markers on the map, like this
     key =”'mark'+ i“中添加”LMarker v-for =“（v，i）：lat-lng =”v“> </ LMarker
But after my value is updated, the coordinates will not be updated, but it will disappear.
My coordinate values are like this  [[22.593262, 113.925971],[22.593262, 113.945971]] at the beginning.
Then update these values likes：　 [[23.593262, 113.925971],[23.593262, 113.945971],[23.59

[2019-05-30 09:59] entrehuihui commented on #400
The middle example is blocked by the system, I will add
"<LMarker v-for="(v, i) in marker" :key="'mark'+i" :lat-lng="v"></LMarker> "

[2019-05-30 10:01] entrehuihui commented on #400
The middle example is blocked by the system, I will add
"LMarker v-for="(v, i) in marker" :key="'mark'+i" :lat-lng="v"></LMarker"
I omitted the beginning "<" and the end of the ">" my way the complete code will be blocked by the system.

[2019-05-30 18:24] hubertokf commented on #399
Well, what I have to do is:

1- Create a Draw component receiving feature group
2- Create new Polygon, polyline, rectangle, circle and marker components. Each of this receive the feature group by props.
    On each one, I create a respective layer and add this to the feature group
3- Created feature group where map is and added all of this as map components

This is not beautiful and far from idea

[2019-05-31 01:02] mwargan opened #401 "Can't get any plugin to work"
### Description
All sorts of errors when using different plugins with "leaflet": "^1.5.1", "vue2-leaflet": "^2.1.1".

[code]
Locatecontrol renders correctly but when clicking the button the console returns "Cannot read property 'x' of undefined". Marketcluster also renders correctly but upon moving the map or zooming in or such the whole thing gets stuck and the console shows "Cannot read property

[2019-05-31 02:18] entrehuihui commented on #400
Thank you very much for your help, I have solved this problem.

[2019-05-31 02:19] entrehuihui commented on #400
Thank you very much for your help, I have solved this problem.Is due to a problem triggered by data refresh

[2019-05-31 02:19] #400 closed

[2019-05-31 02:19] haoxl3 commented on #331
@chistov
Would it be convenient for you to share your project ? I want to know your code about
[code]

thant you very much!

[2019-05-31 07:06] DonNicoJs commented on #401
@mwargan Can you try with leaflet 1.4.x ? I have not had a chance to check compatibility with 1.5, but if everything works without the plugins I would say is an issue of the plugins and  not the base repo.

Also you can try the alias workaround mentioned in #281

Please let us know

[2019-05-31 07:09] DonNicoJs commented on #399
@hubertokf sorry for the slow answer, it's nice that you found a workaround but maybe we can do better. If I have time I would like to start a vue-leaflet-draw plugin, would you like to collaborate there?
or you can start it and I can jump on it. As you mentioned there are a lot of requests for it

[2019-05-31 07:10] DonNicoJs commented on #400
@entrehuihui sorry for not being able to help, but I am glad that you managed to solve the issue.

[2019-05-31 07:11] chistov commented on #331
@haoxl3
Hi there! That variable is an array and it matches geojson format. For example:

tunnels[0] is equal to:
 {
...// some specific data
geometry:{
   type: 'MultiLineString',
   coordinates: [
   // some data here
  ],
  ... // and so on
  }
}

[2019-05-31 13:06] hubertokf commented on #399
Nice to hear! I already have initiated a repository named [vue2-leaflet-draw-toolbar](https://github.com/hubertokf/vue2-leaflet-draw). As you suggested, I'm changing the name to vue2-leaflet-draw.

In the beginning I was using [leaflet-draw-toolbar](https://github.com/justinmanley/leaflet-draw-toolbar) as base (just because of the tooltip functionality). But I'm ready to let it go and re-start it

[2019-06-01 05:25] GopherJ commented on #96
![Screenshot from 2019-06-01 13-24-18](https://user-images.githubusercontent.com/33961674/58744139-a7ec5e00-8470-11e9-9314-eaddb07755cc.png)

this is absolutely crazy!~...............................

[2019-06-02 10:36] GopherJ commented on #96
![peekUXXZ2Z](https://user-images.githubusercontent.com/33961674/58759988-d9465600-8564-11e9-85da-591aed7b039d.gif)

[2019-06-02 10:38] GopherJ commented on #96
When I resize it restores, can someone help me?

[2019-06-03 07:29] DonNicoJs commented on #96
@GopherJ are you using vuetify ? have you read and tried the solution posted in this issue ?

[2019-06-03 12:11] GopherJ commented on #96
@DonNicoJs No, I'm not using vuetify. Why when I change tab it influences the map? By the way I'm using keep-alive for router

[2019-06-03 16:57] alc32 commented on #358
mouseover works with "preferCanvas": false, but fails with "preferCanvas": true @DonNicoJs

[2019-06-04 15:26] mderkach opened #402 "Vue2Leaflet: Error in mounted hook"
Hi. I'm newbie to vue and help me solve problem. What i'm doing wrong?
Error appers, when i try to reproduce quick setup guide for components, and i get similar error to https://github.com/KoRiGaN/Vue2Leaflet/issues/144#issuecomment-465003915

i have checked #281 issue and changed my webpack config to: http://prntscr.com/nx7n26
but get something like that: http://prntscr.com/nx7kl8
Package.json: h

[2019-06-04 17:27] DonNicoJs commented on #402
@mderkach hi did you install leaflet as a dependency?

[2019-06-05 18:33] kaboume commented on #96
Hi,
There is a disadvantage to using the lazy property in the v-tab-item tag : SEO ! With a nuxt project in universal mode, the content of the v-tab-item is not created by the server side : when displaying the page soutce, the tab item is empty :( So, it's not the best solution when we have to optimize the SEO of the page.

[2019-06-06 14:40] mderkach commented on #402
@DonNicoJs
Hello, thanks for reply!
Problem was in wrong intendation of components. l-tile-layer must be in l-map, as i saw it from exmaples of components. In my case no alias is needed. For now, it works fine

I created from early beginnig bundle step-by-step and it works :)

[2019-06-06 14:40] #402 closed

[2019-06-06 14:59] DonNicoJs commented on #402
@mderkach glad that is solved and sorry for the poor support, I am badly overloaded lately :)

[2019-06-11 12:25] nailfor opened #403 "Error in LMarker setLatLng"
[Vue warn]: Error in callback for watcher "latLng": "Error: Invalid LatLng object: (undefined, undefined)"

<l-marker :lat-lng='[0,0]'><l-marker>

code in min.js:
[code]
I'm set newVal  = [0,0],
lat: t[0] || t.lat set lat in undefined, because t[0] === 0(i.e. false)

Need to patch function latLng() like this
[code]

### Versions
- Leaflet: v1.3.1
- Vue: v2.6.7
- Vue2Leaflet: v2.0.2

[2019-06-11 13:21] DonNicoJs commented on #403
@nailfor those this happen with the latest vue2-leaflet version?

[2019-06-11 13:40] nailfor commented on #403
after update to latest 2.1.1 set markere latLng to [0,0] work normaly
thx

[2019-06-11 13:40] #403 closed

[2019-06-13 11:40] nailfor opened #404 "large CPU and Memory usage on open Vue devtool window"
My application uses a web socket to update markers and show transport .
When I open devtool, I see a huge amount of events [ready $emit by LGeoJson]
Chrome uses 2GB, the CPU goes to a zone above 60%
On my map about 20 static LGeoJson and 100 static event markers are displayed.
Even with such a small number of objects, I get crash vue devtool.

If I go to tab "Events" and push "clear" events, the m

[2019-06-18 04:09] haoxl3 opened #405 "how to draggable rectangle"
### Description

why l-rectangle don't draggable?
#### Live Demo

http://jsfiddle.net/Boumi/k04zpLx9/
none
#### Steps to Reproduce
I want to rectangle to be able to drag across the map, just like marker,this is my code:
[code]

#### Expected Results

but rectangle does not drag, I hope rectangle can drag
#### Actual Results

### Browsers Affected

- [ ] Chrome
- [ ] Firefox
- [ ] Edge
- [ ] Safari

[2019-06-18 09:11] mwargan commented on #401
Can't get it with 1.4.0 either :/

Here's my package.json:

`    "dependencies": {
        "leaflet": "^1.4.0",
        "leaflet-geosearch": "^2.7.0",
        "leaflet.markercluster": "^1.4.1",
        "timeago.js": "^4.0.0-beta.2",
        "vue2-leaflet": "^2.1.1",
        "vue2-leaflet-geosearch": "^1.0.5",
        "vue2-leaflet-locatecontrol": "^1.0.1",
        "vue2-leaflet-markercluster": "^3

[2019-06-21 11:22] mike-trueh opened #406 "Action initiated from LControl and popup state"
### Description

I found that if you try to create custom buttons, forms, etc. inside LControl component there is a problem with popup state. Popup not showing from the actions initiated from this button's - action is executed, but popup opens and immediately closes (in older versions of leaflet/vue/vue2leaflet you can see that popup is blinking - https://jsfiddle.net/mike_trueh/g1xv5s9y/20/).

In

[2019-06-21 11:29] DonNicoJs commented on #406
@mike-trueh this should be because the click event is emitted two times / catched two times.
you can use this: ` @click.stop.prevent=` to fix your issue.

[2019-06-21 11:40] mike-trueh commented on #406
@DonNicoJs Oh great! Thanks a lot! I spent about two days to solve that problem

[2019-06-21 11:40] #406 closed

[2019-06-21 12:09] DonNicoJs commented on #406
I am glad that the issue is resolved

On Fri, 21 Jun 2019 at 13:40, mike-trueh <notifications@github.com> wrote:

[2019-06-21 12:16] mike-trueh commented on #406
I still don't fully understand why the event was executed twice in LControl?

[2019-06-25 13:35] nstickney commented on #150
@KoRiGaN The two JSFiddle examples above return 404 now... is there a working example of adding overlay layers to `l-layer-control` that I can look at? My base layers show up fine but even using `.addOverlay` I'm unable to get overlay layers to show up.

[2019-06-26 08:53] GLeBaTi opened #407 "L-Icon createIcon every frame"
### Description
Hello. When i open google chrome profile. It show me:
CreateIcon -> SetIcon every frame.
How can i prevent this?

#### Live Demo
https://jsfiddle.net/0b1p72o3/3/

#### Steps to Reproduce
F12 -> Performance -> Record 4 sec -> Open "Frame" in profile result

### Versions
- Leaflet: v1.5.1
- Vue: v2.6.10
- Vue2Leaflet: v2.1.1

[2019-06-27 02:02] lunjingjie opened #408 "does this plugin support IE browser?"
when I run this plugin in IE browser, it can not work，which IE browser version does it support ?

[2019-06-27 07:32] DonNicoJs commented on #408
@lunjingjie this depends on how you are bundling your code.

[2019-06-28 11:33] kaboume commented on #96
Hi,
In order to work with SEO, I added a watch function when tab item is selected :

[code]

And I my CarteEtablissement component

[code]

[code]

[code]

And now the map displays correctly and when I show the source of the page, I see the text for the SEO.

[2019-07-01 01:52] entrehuihui opened #409 "I am getting a strange problem"
#### Steps to Reproduce
// [22.582088484855117, 113.91798093769808]
 center: function(v) {
      console.log(v, "+++++");
      console.log(this.$refs.lmapmy.mapObject.getCenter(), "--------");
    },

#### Expected Results

[22.582088484855117, 113.91798093769808] ++++++
LatLng {lat: 22.582088484855117, lng: 113.91798093769808 "--------"
#### Actual Results

[22.582088484855117, 113.9179809376980

[2019-07-01 09:25] DonNicoJs commented on #409
@entrehuihui which version of vue2-leaflet?

[2019-07-02 01:23] entrehuihui commented on #409
"vue2-leaflet": "^2.1.1"

[2019-07-02 01:31] entrehuihui commented on #409
thank you very much!
This phenomenon will appear when the first click is set, then change the coordinates to display the correct result, and then return the coordinates back.English is not good, I hope you can understand,

[2019-07-02 05:13] camper6 opened #410 "Memory Leak l-map"
### Description
VueComponents are accumulating as the view gets updated because of l-map. On a cleap app, the increase of VueComponents isn't so bad, but it's there. In our app, the problem is even worse  affecting our app performance (1022 VueComponents to 2000+ just from repeating step 5. to 6 below).

#### Live Demo
https://codesandbox.io/s/simple-todo-app-with-vue-91kyc

#### Steps to Reproduc

[2019-07-02 05:59] DonNicoJs commented on #410
@camper6 thanks for the very detailed issue. We did a memory investigation some time ago.. I will check the demo and report during the day

[2019-07-02 14:00] bezany commented on #406
@mike-trueh Hello! I think source of this behavior is event bubbling. Good article abuit this [here](https://javascript.info/bubbling-and-capturing). When you click custom control, event buble from control to map and call default click handler on map.
For see this it add `<l-map @click="window.console.log(arguments)"`
When you use `@click.stop` event not propagated to map.
But it is not stop propa

[2019-07-02 14:02] DonNicoJs commented on #406
Hi @bezany yeah your suggestion is more than valid a PR would be awesome

On Tue, 2 Jul 2019 at 16:00, bezany <notifications@github.com> wrote:

[2019-07-03 13:23] bezany commented on #408
@lunjingjie Yes, see this example https://bezany.github.io/wkt-map/
[Online test](https://www.browserling.com/browse/win/10/ie/11/https%3A%2F%2Fbezany.github.io%2Fwkt-map%2F).

[2019-07-04 03:31] lunjingjie commented on #408
thank you

[2019-07-04 11:14] bezany commented on #405
@haoxl3 Because in leaflet [rectangle](https://leafletjs.com/reference-1.5.0.html#rectangle) not have options `draggable`. You can try done custom draggable rectangle with [this approach](https://gis.stackexchange.com/questions/128189/creating-draggable-circle-in-leaflet).

[2019-07-08 02:07] mr337 commented on #409
I believe I am getting the same issue. I have pinned it down to the starting zoom level.

My default has map configured with `data` as so:
[code]

Upon pulling a location from the backend I update the map
[code]

Console log output
[code]

And it is off just like @entrehuihui mentioned. The only temporary fix I could find was to have an initial starting zoom >= 8. What is odd is every zoom level f

[2019-07-08 02:09] mr337 commented on #409
Wonder if this is a timing thing, if I zoom first, then center like on a timer tick it works perfectly.

[2019-07-08 06:53] DonNicoJs commented on #409
@mr337 @entrehuihui  so this issue is due to leaflet panTo method that has a small animation timeframe and hence takes time to update all the values.

In the codebase we already have a property called: `noBlockingAnimations` you can try to set that to `true` on `l-map` and see if this fixes the issue.

[2019-07-08 09:09] entrehuihui commented on #409
Thank you for your help, I have solved this problem, the method is the same @mr337   as the method.
But I tried to use noBlockingAnimations

[2019-07-08 09:12] entrehuihui commented on #409
Thank you for your help, I have solved this problem, the method is the same @mr337   as the method.
But I tried to use noBlockingAnimations to set true, it will make a deviation from the center point of the setting, Unless I re-edit a new center point again.I feel very much help again.I will go through the detailed setup to set noBlockingAnimations, and then record my results.

[2019-07-08 09:13] #409 closed

[2019-07-08 23:10] mr337 commented on #409
Looking around I found another related issue, https://github.com/KoRiGaN/Vue2Leaflet/issues/328.

Sadly the `noBlockingAnimations` has an effect but still isn't centered.

Original bug results:
[code]

Using `noBlockingAnimations` made the problem worse :(
[code]

What is odd is this behavior was in the pre 2.0 version. I'm not 100% for sure how that changed :S

[2019-07-09 02:08] entrehuihui commented on #409
The result is tested multiple times, I get the same conclusion as you, noBlockingAnimations does not make the result better, but produces a larger deviation.

[2019-07-09 04:34] lyh2 opened #414 "缩小的时候，先入循环，导致程序崩溃"
Uncaught RangeError: Maximum call stack size exceeded
    at Array.slice (<anonymous>)
    at Dep.notify (vue.esm.js?65d7:680)
    at NewClass.reactiveSetter [as _lastCenter] (vue.esm.js?65d7:1007)
    at NewClass._move (leaflet-src.js?6144:4229)
    at NewClass._resetView (leaflet-src.js?6144:4192)
    at NewClass.panBy (leaflet-src.js?6144:3319)
    at NewClass._adjustPan (leaflet-src.js?6144:99

[2019-07-15 20:59] Simpey opened #416 "PolyLine on top of geoJson"
Hi, i'm trying to put PolyLine on top of geoJson http://joxi.ru/D2PJ9a4tqxYv9r I've tried this solution:
https://stackoverflow.com/questions/44283449/leaflet-make-polyline-on-top-of-geojson and also tried to call bringToFront() from $refs - this.$refs.polyline.bringToFront() But nothing helped Can you help me with this one pls?

[2019-07-16 06:25] DonNicoJs commented on #416
Hi! To access leaflet methods you need to use the `mapObject` prefix after
the ref!

`this.$refs.yourref.mapObject.leafletMethod()`

On Mon, 15 Jul 2019, 22:59 Aleksey Okhmat, <notifications@github.com> wrote:

[2019-07-16 08:15] #416 closed

[2019-07-16 12:27] NewRanger commented on #96
I am so sorry, is there any way to use local set of tiles? from assets folder for example. I can't figure out how to define {z}/{x}/{y} path to local tile set folder.

[2019-07-18 17:50] mikebronner opened #417 "Deep-Linking To Maker Popups"
Not sure if this is the right place to ask: I am planning on deep-linking URLs to marker popups. Any suggestions on where to get started? Is there a tutorial on this? My goal is to be able to take a URL, and enter it in a browser that automatically opens the map with the marker popup already open.

Thanks for any suggestions! :)

[2019-07-18 18:59] bezany commented on #417
@mikebronner  Hello! If I undestand You can programatically open popup with usage `mapObject` like this: `this.$refs.marker.mapObject.openPopup()`. Look example https://jsfiddle.net/bezanyu/ptmg5hy7/

[2019-07-18 20:38] chemoral87 opened #418 "leftlet plugin arc"
How can I use the leaflet plugin to make arc or cuves, or someone needs to integrate.

https://github.com/mad-gooze/Leaflet.Arc

Help!!

[2019-07-18 20:39] chemoral87 commented on #121
please, add this plugin.

https://github.com/mad-gooze/Leaflet.Arc

[2019-07-18 20:41] mikebronner commented on #417
@bezany Thanks for responding. I'm aware of that, however I need to incorporate it into vue-router to automatically open up based on the URL, and respond to browser actions (back- and forward-button clicks).

That means that each marker popup will respond to a unique URL, maybe something like `https://mysite.com/map/popup/22`

Do you have any suggestions on how do achieve that?

[2019-07-19 06:31] bezany commented on #417
@mikebronner I think you can do something like this:
1. In you component create `props` with name `popupId`, type of `String`. And add watch on this property, when it is change, then open popup.
2. In you `router` options pass props to component from url. See [documentation](https://router.vuejs.org/guide/essentials/passing-props.html).
May be look like this:
`{ path: '/map/popup/:popupId', compon

[2019-07-19 06:41] ilyaerkhov opened #419 "VideoOverlay and SVGOverlay"
Hi! Can't seem to find VideoOverlay and SVGOverlay components, is it possible to access them somehow, and if not - are there any plans on adding them at some point? Thanks!

[2019-07-19 07:06] bezany commented on #418
@chemoral87 Use `mapObject` for get original [leaflet object](https://korigan.github.io/Vue2Leaflet/#/faq/?id=how-can-i-access-the-leaflet-map-object). See example https://jsfiddle.net/bezanyu/6y8g2m4L/

[2019-07-19 16:35] mgiraldo opened #420 "l-control-layers reordering when shown/hidden"
### Description
Overlay layer order gets modified when shown/hidden by `l-control-layers`

#### Live Demo
Repository link: https://github.com/mgiraldo/livingarchive/blob/9073277cddf9ca6c189fd0dd7ef1cd625de9fa9f/components/ResultsMap.vue#L22-L35

#### Steps to Reproduce
1. Add a `l-control-layers`
2. Add two `l-geo-json`with `layer-type="overlay"` that overlap
3. Turn on and off the overlays

####

[2019-07-19 19:06] mgiraldo commented on #420
seems related to this Leaflet/Leaflet#5201

[2019-07-20 16:58] DonNicoJs commented on #419
@ilyaerkhov We do not have them for now! PR welcomed otherwise I will add them to the pipeline

[2019-07-20 17:03] DonNicoJs commented on #404
At the moment we have no way to disable the events, and yes it's a vue dev tool issue that occur in other cases as well.

Would you consider a PR to add a kill switch for events?

[2019-07-20 17:04] DonNicoJs commented on #401
@mwargan Sorry for the very slow answer, some plugin impose leaflet as 1.3.4, can you investigate your node modules and check fo duplicate leaflet versions ?

[2019-07-20 17:05] DonNicoJs commented on #420
@mgiraldo this sounds like a underlaying leaflet issue, closing here!

[2019-07-20 17:05] #420 closed

[2019-07-23 15:59] ricardopolo commented on #390
Hello, when are you planning to release a new version in npm?
(that includes this fix :))

[2019-07-23 16:27] DonNicoJs commented on #390
@ricardopolo in this week :)

[2019-07-23 16:30] ricardopolo commented on #390
Thank you @DonNicoJs 😄

[2019-07-23 21:21] mwargan commented on #401
Hey @DonNicoJs! No worries!

I can't figure it out. I've tried with 1.3.4, and still get some sort of referencing error, this time `undefined is not an object (evaluating 'ne2.lat')`

[2019-07-24 07:06] DonNicoJs commented on #401
@mwargan you need to check how many version of leaflet you have in your node_modules, you can try with `yarn why leaflet` or an equivalent command in npm

[2019-07-24 07:25] DonNicoJs commented on #390
@ricardopolo 2.2.0 is out on npm

[2019-07-24 07:31] DonNicoJs commented on #410
@camper6 I've gotten around to investigate this only now, I am sorry, i've been able to reproduce, checking possible causes now

[2019-07-24 07:56] DonNicoJs commented on #410
@camper6 I managed to find the issue, fix it and release version 2.2.1 that address the issue.
THIS WAS A GREAT CATCH, and is going to be a performance boost for many complex applications.
KUDOS to you.

If you can try 2.2.1 and let me know if it fixes the problem on your side too  I would be even more grateful

[2019-07-24 07:59] DonNicoJs commented on #407
@GLeBaTi I'll investigate this soon :) sorry for the slow answer.

[2019-07-25 05:03] lufias opened #421 "crossOrigin wms"
In TileLayerWMS, can you please add option for crossOrigin?

[2019-07-25 09:38] DonNicoJs commented on #421
@lufias you can pass crossOrigin option trough the `options` prop like this:

`< TileLayerWMS :options="{crossOrigin: true}" />`

[2019-07-25 09:39] DonNicoJs commented on #414
@lyh2 I need a bit more context, or a title that I can understand

[2019-07-25 09:41] #408 closed

[2019-07-25 09:41] #405 closed

[2019-07-25 09:47] lufias commented on #421
Thank you.. it really never cross my mind that you can actually pass option..

[2019-07-25 12:22] DonNicoJs commented on #421
Closing :)

[2019-07-25 12:23] #421 closed

[2019-07-26 02:29] camper6 commented on #410
@DonNicoJs Finally had the time to update vue2-leaflet. Rerun tests and went through the steps to check for memory leak, and found VueComponents remain consistent after switching views with route.

So problem solved!

Thanks for your time and great job, Don. I'll close this issue now.

[2019-07-26 02:29] #410 closed

[2019-07-26 03:55] lunjingjie opened #423 "tooltip click event"
it's a question about tooltip, how can i click or select a tooltip ? i want to do something when i click or select a tooltip